[(#REM) Menu de navigation par rubriques ]
<B_articles_rubrique>
<div class="liste articles well">
	<h2 class="h2"><a href="#URL_RUBRIQUE"><:meme_rubrique:></a></h2>
	[(#ANCRE_PAGINATION)]
	<ul class="liste-items">
		<BOUCLE_articles_rubrique(ARTICLES){id_rubrique}{par !date}{pagination 10}>
		<li class="item"><a href="#URL_ARTICLE"[ class="(#EXPOSE)"]>#TITRE</a></li>
		</BOUCLE_articles_rubrique>
	</ul>
	#PAGINATION
</div>
</B_articles_rubrique>

<div class="form-search">
#FORMULAIRE_RECHERCHE
</div>