[(#REM) 
<!-- Affichage du cartouche d'un album
	Recoit en argument :
		- id_album: id de l'album concerne
		- page: indique le type de page affichee (album - par defaut -, evenement, album, une)
		- avec_popularite: indique si on doit afficher ou pas la popularite
		- avec_notation: indique si on doit afficher ou pas le formulaire de notation (necessite plugin NOTATION)
		- avec_socialtags: indique si on doit afficher ou pas les boutons de bookmark sur les reseaux sociaux
		- id_evenement: id de l'evenement associe a l'album (page evenement avec plugin agenda)
-->
]
<BOUCLE_cartouche(ALBUMS) {id_album}>
	<div class="publication">
		[<time pubdate="pubdate" datetime="[(#DATE|date_iso)]">(#DATE|affdate_mois_annee)</time>]

		[(#REM) <!-- Auteur de l'album --> ]
		[<span class="authors"><span class="sep">, </span>par &nbsp;(#LESAUTEURS)</span>]

	</div>
	<div class="postmeta">
		<INCLURE{fond=inclure/article/meta-tags}{id_album}>
	</div>
</BOUCLE_cartouche>
