[(#REM) 
<!-- Affichage de l'album : logo, titre, descriptif
	Recoit en argument :
		- id_album: id de la album concernee
		- avec_filles: indique si on doit afficher les albums filles ou pas
-->
]
<BOUCLE_description (ALBUMS) {id_album}>
	<header class="cartouche">
		[<h1>[(#LOGO_ALBUM|image_reduire{#ENV{taille_logo,150}})]<span class="#EDIT{titre}">(#TITRE)</span></h1>]
		[(#INCLURE{fond=inclure/album/cartouche}
			{id_album}
			{type-page})
		]

	</header>

	<div class="main">
		[<div class="#EDIT{descriptif} descriptif">(#DESCRIPTIF)</div>]

	</div>

	<footer>
		[<div class="notes">(#NOTES)</div>]
	</footer>
</BOUCLE_description>
