[(#REM) 
<!-- Presentation des photos de l'album
	Recoit en argument :
		- id_article: id de l'album concerne
-->
]
<BOUCLE_test_photos(DOCUMENTS){id_article?}{id_album?}{media=image}{par num titre, id_document}{pagination 1}>

	<INCLURE{fond=modeles/album,id_album,media=image,titre=#GRAND_TOTAL|singulier_ou_pluriel{medias:un_image,medias:des_images}} />

</BOUCLE_test_photos>
	[(#REM) <!-- Album vide -->]
	<div class="album album_vide">
		<p class="alert alert-info">Album vide</p>
	</div>
<//B_test_photos>
