@font-face {
	font-family: 'Droid Sans';
	font-style: normal;
	font-weight: 400;
	font-display: auto;
	src: url(../fonts/Droid_Sans-normal-400.woff) format('woff');
	unicode-range: U+0-10FFFF;
}

@font-face {
	font-family: 'Droid Sans';
	font-style: normal;
	font-weight: 700;
	font-display: auto;
	src: url(../fonts/Droid_Sans-normal-700.woff) format('woff');
	unicode-range: U+0-10FFFF;
}

