<B_articles>
<div class="liste resume articles">
	<h2 class="h2">[(#ENV{titre,<:derniers_articles:>})]</h2>
	<ul class="liste-items">
		<BOUCLE_articles(ARTICLES){id_rubrique?}{par num titre}>
		#INCLURE{fond=inclure/resume/article,id_article}
		</BOUCLE_articles>
	</ul>
</div>
</B_articles>
