<body>
<div class="page">
	<div class="container">
		<div id="entete">
			<header>
				<div class="herbe"></div>
				<div class="epi"></div>
				<div class="ensemble d-none d-lg-block"></div>
				<div class="header" id="header">
					<INCLURE{fond=header/#ENV{type-page}} />
				</div>
				<nav>
					<div id="barre_adherent">
						<INCLURE{fond=inclure/menutop,env}/>
					</div>
					<INCLURE{fond=inclure/nav,env}/>
					<div class="nettoyeur"></div>
				</nav>

				<div class="clearfix"></div>
			</header>
		</div>


		<div class="corp px-4 clearfix">
			<div id="breadcrumb">
				<INCLURE{fond=breadcrumb/#ENV{type-page},env} />
			</div>

			<div class="row">
				[(#SET{large,''})]
				[(#ENV{type-page}|=={newsletters}|oui|ou{#ENV{type-page}|=={adherent}}|oui|ou{#ENV{type-page}|=={espace_adherent}}|oui|ou{#ENV{type-page}|=={sommaire}}|oui) #SET{large,'oui'}]
				<div class="content[ (#GET{large}|?{col-lg-12,col-lg-8})] " id="content" >
					<INCLURE{fond=content/#ENV{type-page},env} />
				</div>
				<div class="aside[ (#GET{large}|?{col-lg-12,col-lg-4})]" id="aside" >
					<INCLURE{fond=aside/#ENV{type-page},env} />
				</div>
			</div>
			<div class="extra secondary" id="extra">
				<INCLURE{fond=extra/#ENV{type-page},env} />
			</div>
		</div>
	</div>
	<footer>
		<div class="container">
			<div class="footer " id="footer">
				<INCLURE{fond=footer/#ENV{type-page},env} />
			</div>

			<div id="semelle" class="container">
				<INCLURE{fond=footer/inc-copyright} />
			</div>
		</div>
	</footer>
	[<script src="(#CHEMIN{js/scripts_footer.js})"></script>]
</div>
</body>
