<div class='formulaire_spip formulaire_configurer formulaire_configurer_benevolat' id='formulaire_configurer_forums_contenu'>
<h3 class='titrem'><:benevolat:configuration:></h3>

[<p class="reponse_formulaire reponse_formulaire_ok">(#ENV*{message_ok})</p>]
[<p class="reponse_formulaire reponse_formulaire_erreur">(#ENV*{message_erreur})</p>]

<form action="#SELF" method="post">
	#ACTION_FORMULAIRE{#ENV{action}}
	[<p class='formulaire_ok'>(#ENV*{message_ok})</p>]
	[<p class='formulaire_erreur'>(#ENV*{message_erreur})</p>]



        <fieldset>
	<legend><:benevolat:configuration_generale:></legend>
	<ul>
            [(#SAISIE{input,notifications,label=<:benevolat:email_notifications:>})]
	 </ul>
	</fieldset>

	<fieldset>
		<h3 class="legend"><:benevolat:autorisations:></h3>
		<ul>
			[(#SAISIE{auteurs,gestionnaires,label=<:benevolat:gestionnaires:>,multiple=oui})]
		</ul>
	</fieldset>
	<p class="boutons"><input type="submit" class="submit" name="_cfg_ok" value="<:benevolat:enregistrer:>" /></p>
</form>
	
</div>
