<div class="formulaire_spip formulaire_editer formulaire_#FORM formulaire_#FORM-#ENV{id_auteur,nouveau}">
	[<p class="reponse_formulaire reponse_formulaire_ok">(#ENV**{message_ok})</p>]
	[<p class="reponse_formulaire reponse_formulaire_erreur">(#ENV*{message_erreur})</p>]


[(#ENV{editable}|oui)
	<form method='post' action='#ENV{action}' enctype='multipart/form-data'><div>
		[(#REM) declarer les hidden qui declencheront le service du formulaire 
		parametre : url d'action ]
		#ACTION_FORMULAIRE{#ENV{action}}

	 
	  <ul>
	
	  [(#GENERER_SAISIES{#ENV{mes_saisies}})]
	
	  </ul>


	  [(#REM) ajouter les saisies supplementaires : extra et autre, a cet endroit ]
	  <!--extra-->
	  <p class="boutons"><input type="submit" name="save" class="submit" value="<:bouton_enregistrer:>" /></p>
	</div></form>
	
	
<script type="text/javascript">
<!--
$(document).ready(function(){

	autocomplete_commune('champ_bdc_commune_nom')

	});
// -->
</script>
	
]
</div>
