<div class="formulaire_spip formulaire_editer formulaire_#FORM formulaire_#FORM-#ENV{id_auteur,nouveau}">
	[<p class="reponse_formulaire reponse_formulaire_ok">(#ENV**{message_ok})</p>]
	[<p class="reponse_formulaire reponse_formulaire_erreur">(#ENV*{message_erreur})</p>]


[(#ENV{editable}|oui)
	<form method='post' action='#ENV{action}' enctype='multipart/form-data'><div>
		[(#REM) declarer les hidden qui declencheront le service du formulaire 
		parametre : url d'action ]
		#ACTION_FORMULAIRE{#ENV{action}}
	  <ul>
	  [(#GENERER_SAISIES{#ENV{_mes_saisies}})]
	  </ul>
	  [(#REM) ajouter les saisies supplementaires : extra et autre, a cet endroit ]
	  <!--extra-->
	  <p class="boutons"><input type='submit' name="save" class="submit" value="<:benevolat:inscrire_le_participant:>" /></p>
	</div></form>
	
[<script src="(#CHEMIN{js/jquery.maskedinput-1.3.1.min.js})" type="text/javascript"  /></script>]

]
</div>
<script type="text/javascript">

$(document).ready(function(){
$(".masque_telephone").mask('99 99 99 99 99');
$(".date").mask('99/99/9999');
$("input[name=type]").change(affiche_selection_adherent);
affiche_selection_adherent();

});
function affiche_selection_adherent(){

valeur=$("input[name=type]:checked").val();
if(valeur=='adherent') {
     $(".editer_id_auteur").slideDown();}
else {
	$('.editer_id_auteur').hide();	}
}
</script>

