[(#REM) <!-- Affichage du copyright et outils du site --> ]
<div class="pied_bas">
	<div class="row">
		<div id="bloc_plan" class="col-md-3">
			<div class="inner">
			<h3>Plan du site</h3>
			#INCLURE{fond=inclure/menu, env, identifiant=barrenav, class=nav-pills}
			</div>
		</div>
		<div id="bloc_amis" class="col-md-3">
			<div class="inner">
			<h3>Nos amis</h3>
			<ul>
			[<li><a href="http://www.mres-asso.org/">(#CHEMIN{images/MRES.png}|image_reduire{100,100}|image_sepia{9b9279}|inserer_rollover{#CHEMIN{images/MRES.png}|image_reduire{100,100}}|inserer_attribut{alt,La Maison Régionale de l'Environnement et des Solidarités})</a></li>]
			[<li><a href="http://www.sortirdunucleaire.org/">(#CHEMIN{images/sortir_du_nucleaire.png}|image_reduire{100,100}|image_sepia{9b9279}|inserer_rollover{#CHEMIN{images/sortir_du_nucleaire.png}|image_reduire{100,100}}|inserer_attribut{alt,Réseau Sortir du Nucléaire})</a></li>]
			[<li><a href="https://tipimi.fr/">(#CHEMIN{images/tipimi.png}|image_reduire{100,100}|image_sepia{9b9279}|inserer_rollover{#CHEMIN{images/tipimi.png}|image_reduire{100,100}}|inserer_attribut{alt,Plateforme de prêt d'objet Tipimi})</a></li>]
			[<li><a href="http://www.terredeliens.org/">(#CHEMIN{images/terre_de_liens.png}|image_reduire{100,100}|image_sepia{9b9279}|inserer_rollover{#CHEMIN{images/terre_de_liens.png}|image_reduire{100,100}}|inserer_attribut{alt,Terre de liens})</a></li>]
			</ul>
			</div>
		</div>
		<div id="bloc_rss" class="col-md-6">
			<div class="inner">
			<h3>Liens</h3>
			<INCLURE{fond=inclure/site/liste-articles_syndiques_notime}>
			</div>
			<h3>Suivez nous...</h3>
			[(#INCLURE{fond=inclure/sociaux})]
		</div>
		<div class="clearfix"></div>
	</div>
</div>






