[(#REM) <!-- Bandeau Haut --> ]
<div class="bandeau bandeau_haut clearfix">
	<div class="accueil clearfix">
		<a rel="start home" href="#URL_SITE_SPIP/" title="<:accueil_site:>">
		<h1 id="logo_site_spip">[(#CHEMIN{images/logo_robin_des_bio.png}|image_reduire{300,80}|inserer_attribut{alt, #NOM_SITE_SPIP #SLOGAN_SITE_SPIP})]</h1>
		</a>
	</div>
</div>
