<div class="bandeau bandeau_haut">
	<div class="accueil">
		<a rel="start home" href="#URL_SITE_SPIP/" title="<:accueil_site:>">
		<h1 id="logo_site_spip">[<img src="(#CHEMIN{images/logo_robin_des_bio.png}|image_reduire{425}|extraire_attribut{src})" alt="#NOM_SITE_SPIP #SLOGAN_SITE_SPIP" /></h1>]
		</a>
	</div>
</div>
