<BOUCLE_tache(BENEVOLAT_TACHES){id_benevolat_tache}>
	<td><a name="tache#ID_BENEVOLAT_TACHE" href="[(#URL_ECRIRE{benevolat_tache}|parametre_url{id_benevolat_tache,#ID_BENEVOLAT_TACHE})]">#ID_BENEVOLAT_TACHE</a></td>
	<td><a href="[(#URL_ECRIRE{benevolat_tache}|parametre_url{id_benevolat_tache,#ID_BENEVOLAT_TACHE})]">#NOM</a></td>
	<td>		<BOUCLE_tache_ben(BENEVOLAT_PARTICIPANTS){id_benevolat_tache}><div class="participant"> </BOUCLE_tache_ben>#TOTAL_BOUCLE inscrit(s)</div></B_tache_ben>
	</td>
	<td>[(#PUBLIC|oui)Diffusé]</td>
	<td>[(#FINI|oui)fini]</td>
	<td>
	<a href="[(#URL_ECRIRE{benevolat_tache_edit}|parametre_url{id_benevolat_tache,#ID_BENEVOLAT_TACHE}|parametre_url{retour,#SELF})]"><img src="[(#CHEMIN_IMAGE{images/ico_fiche.png})]" alt="<:benevolat_tache:modifier:>" /></a>
	[<a href="mailto:(#ID_BENEVOLAT_TACHE|benevolat_liste_email)"><img src="[(#CHEMIN_IMAGE{images/ico_email.png})]" alt="<:benevolat_tache:envoyer_un_courriel:>" /></a>]
	</td>
</BOUCLE_tache>