<BOUCLE_participant(BENEVOLAT_PARTICIPANTS){id_benevolat_participant}>
	#SET{tab_participant,#ID_AUTEUR|benevolat_participant_informations{#NOM,#COURRIEL,#TELEPHONE}}
	<!--<td>#ID_BENEVOLAT_PARTICIPANT</td>-->
	<td>
		[(#GET{tab_participant}|table_valeur{id_auteur}|oui)<a href=#URL_ECRIRE{asso_membre,id_auteur=#GET{tab_participant}|table_valeur{id_auteur}}>[(#GET{tab_participant}|table_valeur{nom})]</a>]
		[(#GET{tab_participant}|table_valeur{id_auteur}|non)[(#GET{tab_participant}|table_valeur{nom})]]
	</td>
	<td><a href="mailto:[(#GET{tab_participant}|table_valeur{courriel})]" title="[(#GET{tab_participant}|table_valeur{courriel})]">[(#GET{tab_participant}|table_valeur{courriel}|couper{15})]</a></td>
	<td>[(#GET{tab_participant}|table_valeur{telephone})]</td>
	<td>[(#DATE_INSCRIPTION|affdate_jourcourt)]</td>
	<td><BOUCLE_tache(BENEVOLAT_TACHES){id_benevolat_tache}>#NOM</BOUCLE_tache></td>
</BOUCLE_participant>