<ul class="breadcrumb">
		<li class="breadcrumb-item"><a href="#URL_SITE_SPIP/"><:accueil_site:></a> </li>

	<li class="breadcrumb-item">[(#URL_PAGE{galerie}|lien_ou_expose{<:breadcrumb:galerie:>})]</li>
	<li class="breadcrumb-item active">[(#URL_ALBUM{#ID_ALBUM}|lien_ou_expose{#INFO_TITRE{album,#ID_ALBUM},' '})]</li>

</ul>