	<ul class="breadcrumb">
		<li class="breadcrumb-item"><a href="#URL_SITE_SPIP/"><:accueil_site:></a> </li>
<B_contenu_courrier>
<li class="breadcrumb-item"><a href="[(#URL_PAGE{newsletters})]">Toutes les infolettres</a></li>
<BOUCLE_contenu_courrier(NEWSLETTERS){id_newsletter}>
<li class="breadcrumb-item active">[<span class="on">(#TITRE|couper{80})</span>]</li>
</BOUCLE_contenu_courrier>
</ul>

