<ul class="breadcrumb">
	#SET{objet,''}#SET{id_objet,''}

	[(#ENV{id_rubrique}|oui)#SET{objet,rubrique}#SET{id_objet,#ENV{id_rubrique}}]
	[(#ENV{id_syndic}|oui)#SET{objet,site}#SET{id_objet,#ENV{id_syndic}}]
	[(#ENV{id_breve}|oui)#SET{objet,breve}#SET{id_objet,#ENV{id_breve}}]
	[(#ENV{id_article}|oui)#SET{objet,article}#SET{id_objet,#ENV{id_article}}]
	[(#ENV{id_objet}|oui)#SET{objet,#ENV{objet}}#SET{id_objet,#ENV{id_objet}}]
	[(#ENV{id_newsletter}|oui)#SET{objet,newsletter}#SET{id_objet,#ENV{id_objet}}]
	[(#ENV{id_album}|oui)#SET{objet,article}#SET{id_objet,#ENV{id_objet}}]

	[(#GET{objet}|oui)
	#INCLURE{fond=breadcrumb/inc-objet,id_objet=#GET{id_objet},objet=#GET{objet}}
	][(#GET{objet}|non)
	<li class="breadcrumb-item"><a href="#URL_SITE_SPIP/"><:accueil_site:></a></li>
	]
</ul>
