#SET{ok,''}[

(#ENV**{exec}|=={benevolat_tache_edit}|oui)

[(#INCLURE{fond=prive/squelettes/contenu/benevolat_tache_edit,redirect='',env,retourajax=oui})]
#SET{ok,' '}

][(#GET{ok}|non|et{#ENV**{exec}|=={benevolat_tache}}|oui)

	[(#BOITE_OUVRIR{

		[(#AUTORISER{modifier,benevolat_tache,id_benevolat_tache})
		[(#ENV{id_benevolat_tache}|afficher_qui_edite{benevolat_tache}|non)
			[(#URL_ECRIRE{benevolat_tache_edit,id_benevolat_tache=#ENV{id_benevolat_tache}}|icone_verticale{#VAL{benevolat_tache}|objet_info{texte_modifier}|_T{},#VAL{benevolat_tache}|objet_info{icone_objet},edit,right ajax preload})]
		]
		[(#ENV{id_benevolat_tache}|afficher_qui_edite{benevolat_tache}|oui)
			[(#URL_ECRIRE{benevolat_tache_edit,id_benevolat_tache=#ENV{id_benevolat_tache}}|icone_verticale{#ENV{id_benevolat_tache}|afficher_qui_edite{benevolat_tache},warning-24,'',right edition_deja ajax preload})]
		]

		]
		<h1>[(#INFO_TITRE{benevolat_tache,#ENV{id_benevolat_tache}}|recuperer_numero). ][(#INFO_TITRE{benevolat_tache,#ENV{id_benevolat_tache}}|sinon{<:info_sans_titre:>})][(#VAL{benevolat_tache}|objet_icone|inserer_attribut{class,cadre-icone})]</h1>
	,simple fiche_objet})]




	<div id="wysiwyg">
	[(#INCLURE{fond=prive/objets/contenu/benevolat_tache,id=#ENV{id_benevolat_tache},env,wysiwyg=1})]
	</div>
				
	[(#AUTORISER{modifier,benevolat_tache,#ENV{id_benevolat_tache}}|et{#VAL{benevolat_tache}|objet_info{editable}}|oui)

		[(#ENV{id_benevolat_tache}|afficher_qui_edite{benevolat_tache}|non)
			[(#URL_ECRIRE{benevolat_tache_edit,id_benevolat_tache=#ENV{id_benevolat_tache}}|icone_verticale{#VAL{benevolat_tache}|objet_info{texte_modifier}|_T{},#VAL{benevolat_tache}|objet_info{icone_objet},edit,right ajax preload})]
		]
		[(#ENV{id_benevolat_tache}|afficher_qui_edite{benevolat_tache}|oui)
			[(#URL_ECRIRE{benevolat_tache_edit,id_benevolat_tache=#ENV{id_benevolat_tache}}|icone_verticale{#ENV{id_benevolat_tache}|afficher_qui_edite{benevolat_tache},warning-24,'',right edition_deja ajax preload})]
		]
	]

	#PIPELINE{afficher_complement_objet,#ARRAY{args,#ARRAY{type,benevolat_tache,id,id_benevolat_tache},data,'<div class="nettoyeur"></div>'}}

	#BOITE_FERMER



	[(#EVAL{_AJAX}|oui)
	<script type="text/javascript">/*<!\[CDATA\[*/reloadExecPage('[(#URL_ECRIRE{benevolat_tache})]','#navigation,#chemin');/*\]\]>*/</script>
	]
	#SET{ok,' '}
][

(#GET{ok}|sinon_interdire_acces)

]
