<h1><:benevolat:tache_benevoles:></h1>
<INCLURE{fond=prive/objets/liste/benevolat_taches,env,ajax,sinon=#VAL{benevolat_taches}|objet_info{info_aucun_objet}|_T} />

[(#VAL{benevolat_tache}|objet_info{editable}|et{#AUTORISER{creer,benevolat_tache}})
	[(#REM|generer_url_ecrire_entite_edit{benevolat_tache}|parametre_url{new,oui}|icone_verticale{[(#VAL{benevolat_tache}|objet_info{texte_creer}|_T)],[(#VAL{benevolat_tache}|objet_info{icone_objet})],new,right})]

]
<div class="nettoyeur"></div>
<INCLURE{fond=prive/objets/liste/benevolat_participants,env,ajax,sinon=#VAL{tache_participants}|objet_info{info_aucun_objet}|_T} />

