<B_taches>

<div id="filtres" class="pas_surlignable">
</div>
#ANCRE_PAGINATION
<div class="liste-objets">

<caption><strong class="caption"><strong>#GRAND_TOTAL</strong> <:benevolat_tache:taches:></strong></caption>


<table>
<thead>
<tr class="first_row">
<th class="id" scope="col"><:benevolat_tache:ID:></th>
<th class="titre principale" scope="col"><:benevolat_tache:tache:></th>
<th class="information" scope="col"><:benevolat_tache:participants:></th>
<th class="public" scope="col">&nbsp;</th>
<th class="fini" scope="col">&nbsp;</th>
<th class="action" scope="col">&nbsp;</th>
</tr>
</thead>
<tbody>
	    <BOUCLE_taches(benevolat_taches){pagination #ENV{nb,20}}{!par date_creation}>
	    <tr class="statut_">
	    	<INCLURE{fond=prive/objets/liste/ligne/benevolat_tache,id_benevolat_tache=#ID_BENEVOLAT_TACHE}>
	    </tr>
	    </BOUCLE_taches>
</tbody>
</table>
[<p class='pagination'>(#PAGINATION{prive})</p>]


</div>
<p><a href="#URL_ACTION{export_benevolat_tache}" class="">Exporter le tableau en ODS</a></p>

</B_taches>
<:benevolat_tache:aucune_tache:>
<//B_taches>
