<B_participants>

<div id="filtres" class="pas_surlignable">
</div>
#ANCRE_PAGINATION
<div class="liste-objets">

<caption><strong class="caption"><strong>#GRAND_TOTAL</strong> <:benevolat_participant:participants:></strong></caption>


<table class="table">
<thead>
<tr class="first_row">
<!--<th class="id" scope="col"><:benevolat_participant:ID:></th>-->
<th class="nom" scope="col"><:benevolat_participant:nom:></th>
<th class="courriel" scope="col"><:benevolat_participant:courriel:></th>
<th class="telephone" scope="col"><:benevolat_participant:telephone:></th>
<th class="date_inscription" scope="col"><:benevolat_participant:date_inscription:></th>
<th class="date" scope="col"><:benevolat_participant:tache:></th>
</tr>
</thead>
<tbody>
	    <BOUCLE_participants(BENEVOLAT_PARTICIPANTS){pagination #ENV{nb,20}}{!par date_inscription}>
	    <tr>
	    	<INCLURE{fond=prive/objets/liste/ligne/benevolat_participant,id_benevolat_participant=#ID_BENEVOLAT_PARTICIPANT}>
	    </tr>
	    </BOUCLE_participants>
</tbody>
</table>
[<p class='pagination'>(#PAGINATION{prive})</p>]
</div>
</B_participants>
<:benevolat_participant:aucun_participant:>
<//B_participants>
