<div class="row">
	[(#SET{largeur-col,6})]
	[
	[(#SET{largeur-col,4})]
	<div class="col-md-4">
		<div id="mini_agenda">
			<h3>Agenda</h3>
			<div class="bloc">
			(#INCLURE{fond=inclure/mini_agenda,env})
			</div>
		</div>
	</div>]



	<div id="inscription_newsletter" class="col-md-[(#GET{largeur-col})]">
		<h3>La lettre d'information</h3>

		<div class="bloc">
			[(#INCLURE{fond=inclure/derniere_newsletter})]
			[(#SESSION{simplasso_statut}|non)
				[(#FORMULAIRE_NEWSLETTER_SUBSCRIBE{1})]
			]

		</div>
	</div>

	<div class="col-md-[(#GET{largeur-col})]">
		[(#INCLURE{fond=inclure/bloc_adherent})]
	</div>


</div>