<div class="row">

    <B_article_info>
        <div id="informations" class="col-lg-8 col-xl-6 secondary">
            <div class="inner">
                <BOUCLE_article_info(ARTICLES){id_article=3}{par num titre,titre} >
                <h3 class="h3 titre #EDIT{titre}">#TITRE</h3>
                <div class="bloc #EDIT{texte}">#TEXTE<div class="clearfix"></div></div>
                </BOUCLE_article_info>
            </div>
        </div>
    </B_article_info>

    <div class="col-lg-4 col-xl-6">
        <div class="row">
            <div class="col-lg-12 col-xl-6">
                <div id="inscription_newsletter">
                    <h3 class="h3">La lettre d'information</h3>
                    <div class="bloc">
                        [(#INCLURE{fond=inclure/derniere_newsletter})]
                        [(#SESSION{simplasso_statut}|non)
                        [(#FORMULAIRE_NEWSLETTER_SUBSCRIBE{'newsletter'})]
                        ]

                    </div>
                </div>
            </div>

            <div class="col-lg-12 col-xl-6">
                [(#INCLURE{fond=inclure/bloc_adherent})]
            </div>
        </div>

    </div>
</div>