<div class='formulaire_spip formulaire_editer formulaire_#FORM formulaire_#FORM-#ENV{id_mailsubscriber,nouveau}'>
	<h3 class="titrem"><:mailsubscriber:info_email_inscriptions{email=#ENV{_email}}:>
	[(#ENV{_id_mailsubscriber}|oui)
		<a href="[(#ENV{_id_mailsubscriber}|generer_url_entite{mailsubscriber}|parametre_url{email,#ENV{_email}})]" class="pull-right">Voir le détail</a>
	]
	</h3>
	[<p class="reponse_formulaire reponse_formulaire_ok">(#ENV**{message_ok})</p>]
	[<p class="reponse_formulaire reponse_formulaire_erreur">(#ENV*{message_erreur})</p>]

	#SET{fl,mailsubscriber}
	[(#ENV{editable})
	<form method='post' action='#ENV{action}'><div>
		#ACTION_FORMULAIRE{#ENV{action}}
		<ul class="editer-groupe">
			#SET{name,listes}#SET{obli,'obligatoire'}#SET{defaut,''}#SET{erreurs,#ENV**{erreurs}|table_valeur{#GET{name}}}
			<li class="editer editer_[(#GET{name})][ (#GET{obli})][ (#GET{erreurs}|oui)erreur]">
				<label>S'inscrire et se désincrire aux infolettres</label>[
				<span class='erreur_message'>(#GET{erreurs})</span>]
				<INCLURE{fond=formulaires/inc-check-subscribinglists,name=#GET{name},choix_listes=#ENV{_listes_dispo},env} />
			</li>
		</ul>
		[(#REM) ajouter les saisies supplementaires : extra et autre, a cet endroit ]
		<!--extra-->
		<p class="boutons"><input type='submit' class='submit' value='<:bouton_enregistrer:>' /></p>
	</div></form>
	]
</div>