<div class="formulaire_spip formulaire_editer formulaire_editer_article formulaire_editer_article-#ENV{id_article,nouveau}">
    [<p class="reponse_formulaire reponse_formulaire_ok">(#ENV**{message_ok})<script>setTimeout(function(){ window.location.replace('#URL_SITE_SPIP?var_mode=calcul') }, 3000);</script></p>]
    [<p class="reponse_formulaire reponse_formulaire_erreur">(#ENV*{message_erreur})</p>]
    [(#ENV{editable})
    <form method='post' action='#ENV{action}'  enctype="multipart/form-data">
        <div>
            [(#REM) declarer les hidden qui declencheront le service du formulaire
            parametre : url d'action ]
            #ACTION_FORMULAIRE
            <input type='hidden' name='id_article' value='#ENV{id_article}'/>

            <fielset class="editer-groupe">

                <div class="form-group editer editer_titre obligatoire[ (#ENV**{erreurs}|table_valeur{titre}|oui)erreur]">
                    <label for="titre">
                        <:info_titre:>
                    </label>[
                    <span class='erreur_message'>(#ENV**{erreurs}|table_valeur{titre})</span>
                    ]<input type='text' class='text form-control' name='titre' id='titre' [ lang='(#LANGUE)' ]
                            value="[(#ENV**{titre,''})]"
                            placeholder="<:info_nouvel_article|attribut_html:>"/>
                </div>

                [<div class="form-element editer editer_parent[ (#ENV**{erreurs}|table_valeur{id_parent}|oui)erreur] hide">
                <label for="id_parent"><:titre_cadre_interieur_rubrique:><em class="aide">#AIDER{id_parent}</em></label>[
                <span class='erreur_message'>(#ENV**{erreurs}|table_valeur{id_parent})</span>
                ]
                (#VAL|chercher_rubrique{#ENV{id_article},#ENV{id_parent},'article',#ENV{id_secteur},#ENV**{config}|table_valeur{restreint},0,form_simple})
            </div>]


                [(#ENV**{config}|table_valeur{articles_descriptif}|=={non}|?{#ENV**{descriptif,''},' '}|oui)
                <div class="form-group editer editer_descriptif[ (#ENV**{erreurs}|table_valeur{descriptif}|oui)erreur]">
                    <label for="descriptif">
                        <:texte_descriptif_rapide:>
                    </label>[
                    <span class='erreur_message'>(#ENV**{erreurs}|table_valeur{descriptif})</span>
                    ]<textarea name='descriptif' id='descriptif' [ lang='(#LANGUE)' ] rows='2' cols='40'
                               class="form-control">[(#ENV**{descriptif})]</textarea>
                </div>
                ]


                [(#ENV**{config}|table_valeur{articles_texte}|=={non}|?{#ENV**{texte,''},' '}|oui)
                <div class="form-group editer editer_texte obligatoire[ (#ENV**{erreurs}|table_valeur{texte}|oui)erreur]">
                    <label for="text_area">
                        <:info_texte:>
                    </label>[
                    <span class='erreur_message'>(#ENV**{erreurs}|table_valeur{texte})</span>
                    ][(#ENV**{_texte_trop_long,''})]
                    <textarea name='texte' id='text_area' [ lang='(#LANGUE)' ]
                              cols='40' class="form-control">[(#ENV**{texte})]</textarea>
                </div>
                ]

                [(#SAISIE{fichiers, image, label='Image'})]





                <div class="form-group editer editer_date fieldset">
                    <fieldset><legend><:agenda:evenement_date:></legend>
                <ul>
                    <li class="editer editer_horaire[ (#ENV**{erreurs}|table_valeur{horaire}|oui)erreur]">
                        <input type="text" name="datetimes" class="form-control text" />
                    </li>
                </ul>
            </fieldset>


            </div>


            <div class="form-group editer editer_date fieldset">
                <fieldset><legend>Emplacement</legend>
                <div class="form-group editer editer_lieu[ (#ENV**{erreurs}|table_valeur{lieu}|oui)erreur]">
                    <label for="lieu"><:agenda:evenement_lieu:></label>[
                    <span class='erreur_message'>(#ENV**{erreurs}|table_valeur{lieu})</span>
                    ]<input type='text' class='text form-control' name='lieu' id='lieu' value="[(#ENV{lieu})]" />
                </div>
                <div class="form-group editer editer_adresse[ (#ENV**{erreurs}|table_valeur{adresse}|oui)erreur]">
                    <label for="adresse"><:agenda:evenement_adresse:></label>[
                    <span class="erreur_message">(#ENV**{erreurs}|table_valeur{adresse})</span>
                    ]<textarea name="adresse" rows="3" id="adresse"  class="form-control">[(#ENV{adresse})]</textarea>
                </div>




                </fieldset>
            </div>







                <fieldset><legend>Thèmes, mot clés</legend>

                <div class="row">
                        [<div class="form-group">
                        (#SAISIE{selection_multiple, mots,
                        label=Tags,
                        datas=#ENV{mots_datas},
                        multiple=oui})
                    </div>]

</div>
                </fieldset>
                </div>




                <p class='boutons'><input type='submit' name="save" class="submit btn btn-success" value='<:bouton_enregistrer:>'/></p>
        </div>
    </form>
    ]
    <script type="application/javascript">
        $(document).ready(function () {


            $('input[name="datetimes"]').daterangepicker({
                timePicker: true,
                startDate: moment().startOf('hour').add(2, 'week'),
                endDate: moment().startOf('hour').add(2, 'week').add(2, 'hour'),
                "timePicker24Hour": true,
                "timePickerIncrement": 10,
                "locale": {
                    format: 'DD/MM/YYYY H:mm',
                    "separator": " - ",
                    "applyLabel": "Sélectionner",
                    "cancelLabel": "Annuler",
                    "fromLabel": "Du",
                    "toLabel": "au",
                    "customRangeLabel": "Custom",
                    "weekLabel": "S",
                    "daysOfWeek": [
                        "D",
                        "L",
                        "M",
                        "Me",
                        "J",
                        "V",
                        "S"
                    ],
                    "monthNames": [
                        "Janvier",
                        "Février",
                        "Mars",
                        "Avril",
                        "Mai",
                        "Juin",
                        "Juillet",
                        "Aout",
                        "Septembre",
                        "Octobre",
                        "Novembre",
                        "Decembre"
                    ],
                    "firstDay": 1
                },

                parentEl:'.editer_horaire'
            });


            $("#champ_mots").select2({
                tags: true,
                width:'100%',
                tokenSeparators: [','],
                createTag: function (params) {
                    var term = $.trim(params.term);

                    if (term === '') {
                        return null;
                    }
                    return {
                        id: term,
                        text: term,
                        newTag: true // add additional parameters
                    }
                }
            });







                        $("#champ_association").select2({
                            width:'100%',
                            tokenSeparators: [',']
                        });

                        poser_la_bombe();





        });
    </script>
</div>
