#CACHE{0}
#HTTP_HEADER{Content-Type: text/html; charset=iso-8859-1}

<div class="formulaire_spip formulaire_fiche" id="formulaire_fiche">
<BOUCLE_autorisation(CONDITION){si #ENV{autorisation}}>
<br class='bugajaxie' />

[<p class="reponse_formulaire reponse_formulaire_ok">(#ENV*{message_ok})</p>]
[<p class="reponse_formulaire reponse_formulaire_erreur">(#ENV*{message_erreur})</p>]

<BOUCLE_editable(CONDITION){si #ENV{editable}}>
	<form action="#ENV{action}[&id_article=(#ENV{id_article})]#formulaire_fiche" method="post" enctype="multipart/form-data" >
		
			[(#REM) declarer les hidden qui declencheront le service du formulaire parametre : url d'action ]
	#ACTION_FORMULAIRE{#ENV{action}}

		<fieldset id="fiche">
		<ul>
			[(#SAISIE{input,intitule_fiche,	label=<:boitaidee:titre:>})]
			[(#SAISIE{hidden,domaine_fiche,	label=<:boitaidee:domaine:>,disable=oui})]
			<BOUCLE_rub(RUBRIQUES){id_rubrique=#ENV{id_rubrique}}{tout}>
			<B_sous_domaine>
			<label><:sous_domaine_fiche:></label>
				<ul class="choix_mots">
					<BOUCLE_sous_domaine(MOTS){type=#TITRE}>
					<li class="choix"><input type="checkbox" class="checkbox" name="sous_domaine_fiche[]" id="sous_domaine_fiche#ID_MOT" value="#ID_MOT"[ (#ID_MOT|in_array{#ENV*{sous_domaine_fiche,#ARRAY}}|oui)checked="checked"] /><label for="sous_domaine_fiche#ID_MOT">#TITRE[<br/><small>(#DESCRIPTIF)</small>]</label></li>
					</BOUCLE_sous_domaine>
				</ul>
			</B_sous_domaine>
			</BOUCLE_rub>
			[(#SAISIE{textarea,texte_fiche,	label=<:boitaidee:texte:>,rows=10,maxlength=1500,explication=<:limite_a:> 1500 <:caracteres:>})]
		</ul>
		</fieldset>
				
	[(#REM) Piege a robots spammeurs ]
	<p style="display: none;">
		<label for="nobot"><:antispam_champ_vide:></label>
		<input type="text" class="text" name="nobot" id="nobot" value="#ENV{nobot}" size="10" />
	</p>
	<p class="boutons"><input type="submit" class="submit" name="valide" value="[(#ENV{modification}?{Modifier,Ajouter})]" /></p>
	</form>

</BOUCLE_editable>


<//B_editable>
</BOUCLE_autorisation>
Vous n'&ecirc;tes pas habilit&eacute; &agrave; modifier cette fiche

<//B_autorisation>
</div>


