[<!--(#REM)

// $LastChangedRevision: 60173 $
// $LastChangedBy: root $
// $LastChangedDate: 2012-04-07 19:00:05 +0200 (Sat, 07 Apr 2012) $

Formulaire
- abonnement
- desabonnement

Pour la classe ajax, voir http://www.spip.net/fr_article3753.html

-->]

<div class="formulaire_spip formulaire_gestion_abonnement">
[<!--(#REM)

	Formulaire de desabonnement

-->]
[(#ENV{d}|oui|et{#ENV{stop}|oui})
	[(#ENV{message_ok}|non)
	<p class='souhait'><:spiplistes:desabonnement_confirmez_:></p>
	[<p class="reponse_formulaire reponse_formulaire_erreur">(#ENV*{message_erreur})</p>]
	<form method='post' action='#ENV{action}' enctype='multipart/form-data'>
		#ACTION_FORMULAIRE{#ENV{action}}
	[(#INCLURE{fond=formulaires/inc-liste_details}{id_liste=#ENV{stop}})]
	<input type="hidden" name="d" value="[(#ENV{d})]" />
	<input type="hidden" name="stop" value="[(#ENV{stop})]" />
	<p class="boutons spip_bouton">
		<input type='submit' class='submit' name='valider' value='<:spiplistes:je_confirme_desinscrition:>' />
	</p>
	</form>
	]
	[<p class="reponse_formulaire reponse_formulaire_ok">(#ENV{message_ok})</p>]
]
[<!--(#REM)

	Formulaire de gestion d'abonnement

-->]
[(#ENV{d}|oui|et{#ENV{stop}|non}|et{#ENV{errormsg}|non})
		
	<!-- <br class='bugajaxie' /> -->
	[<p class="reponse_formulaire reponse_formulaire_ok">(#ENV*{message_ok})</p>]
	[<p class="reponse_formulaire reponse_formulaire_erreur">(#ENV*{message_erreur})</p>]
	[(#ENV{editable})
	<form method='post' action='#ENV{action}' enctype='multipart/form-data'>
		<div>
		#ACTION_FORMULAIRE{#ENV{action}}
		<input type="hidden" name="d" value="[(#ENV{d})]" />
		
		<ul class="liste-des-listes">
		
		[(#INCLURE{fond=formulaires/inc-liste_des_listes}{env}{statut=#GET{statut_auteur}}
			{explication=[(#ENV{nb_abos}|?{' '})<:spiplistes:vous_etes_abonne_aux_listes_selectionnees_:>]})]
		<li class="bloc-formats fieldset">
			<fieldset><legend class="legend"><:spiplistes:format_de_reception:></legend>
			<ul><li>
				<div class="choix">
					<input type="radio" class="radio" name="suppl_abo" [(#ENV{format}|=={html}|?{'checked="checked"',''})] value="html" id='fslhtml' />
					<label for='fslhtml'><:spiplistes:html:><:spiplistes:html_description:></label>
				</div>
				<div class="choix">
					<input type="radio" class="radio" name="suppl_abo" [(#ENV{format}|=={texte}|?{'checked="checked"',''})] value="texte" id='fsltexte' />
					<label for='fsltexte'><:spiplistes:texte_brut:></label>
				</div>
			</li></ul>
			</fieldset>
		</li>
		[(#ENV{nb_abos}|?{' ',''})
		<li class="desabonnement fieldset">
			<fieldset><legend class="legend"><:spiplistes:suspendre_abonnement_:></legend>
			<ul><li>
				<div class="choix">
					<input type="radio" class="radio" name="suppl_abo" value="non" id='fslnon' />
					<label for='fslnon'><:spiplistes:desabonnement:></label>
				</div>
			</li></ul>
			</fieldset>
		</li>
		]
		</ul>
		<p class="boutons spip_bouton">
			<input type='submit' class='submit' name='valider' value='<:spiplistes:abonnement_bouton:>' />
		</p>
	</div></form>]
]
[<p class="errormsg">(#ENV{errormsg})</p>]
</div>[<!--(#REM) fin div.formulaire_spip -->]

</B_auteur>
[<!--(#REM)

	Le squelette a été appelé directement.
	A voir si message d'erreur ici
	ou redirection brutale sur 404
	ou autre...

-->][<p class="errormsg">(#ENV{errormsg})</p>]
<//B_auteur>
