@import "bootstap2spip/css/_variables";

/* Variables et declarations specifiques, en complement de _variables.scss */

// Typo SPIP
$em-font-size: $font-size-base; // 1rem
$em-line-height: 1em * ($line-height-base);
$rem-vert-margin: 1rem * $line-height-base;


$link-hover-bg: lighten(mix(scale_color(adjust-hue($link-color,-5deg), $lightness:66%), $gray-100, 25%),1%) !default;

$headings-small-color: $text-muted !default;

$indent-x: 1.5 * $grid-gutter-width;
$indent-x-lg: 2 * $grid-gutter-width;
$indent-x-sm: 1 * $grid-gutter-width;

$padding-x: 0.75rem;
$padding-y: 0.375rem;

$padding-x-lg: 1rem;
$padding-y-lg: 0.625rem;

$padding-x-sm: 0.625rem;
$padding-y-sm: 0.3125rem;

$padding-x-xs: 0.3125rem;
$padding-y-xs: 0.0625rem;

$well-bg: $gray-100 !default;
$form-bg: $gray-100 !default;

$navbar-dark-bg:                 transparent !default;
$navbar-dark-hover-bg:           transparent !default;
$navbar-dark-active-bg:          $black !default;
$navbar-dark-disabled-bg:        transparent !default;

$navbar-light-bg:                transparent !default;
$navbar-light-hover-bg:          transparent !default;
$navbar-light-active-bg:         $white !default;
$navbar-light-disabled-bg:       transparent !default;
