<body>
	<div class="page[(#SESSION{id_auteur}|oui) page-entete]">
			<div class="container">
			<header>
				<div class="herbe"></div>
				<div class="epi"></div>
				<div class="ensemble"></div>
					<div class="header float-left" id="header">
						<INCLURE{fond=header/#ENV{type-page},env} />
					</div>
					<nav>
					[<div class="navbar navbar-default" id="nav">
						(#INCLURE{fond=inclure/nav,env}|navbar_responsive)
					</div>]
					</nav>
				<div class="clearfix"></div>
			</header>
			<div class="corp">
				<div class="col-md-12">
					<div id="breadcrumb">
						<INCLURE{fond=breadcrumb/#ENV{type-page},env} />
					</div>
					<div class="content" id="content" >
						<INCLURE{fond=content/#ENV{type-page},env} />
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
			<footer>
			<div class="footer " id="footer">
				<INCLURE{fond=footer/#ENV{type-page},env} />
			</div>
			<div id="semelle" class="clearfix">
				<INCLURE{fond=footer/inc-copyright} />
			</div>
			</footer>
				[(#SESSION{id_auteur}|oui)
				<div id="barre_adherent" class="nav_bandeau navbar navbar-fixed-top">
					[(#INCLURE{fond=inclure/menutop,env})]
				</div>]
				[<script src="(#CHEMIN{js/scripts_footer.js})"></script>]
		</div>
	</div>
</body>
