<BOUCLE_album(ALBUMS){id_album}>
<div class="row-fluid clearfix">
	<div class="col-md-2">
		<div class="thumbnail">
			#SET{img,''}
			<BOUCLE_fi(DOCUMENTS){id_album}{media=image}{0,1}>#SET{img,#FICHIER}</BOUCLE_fi>
			<a href="#URL_ALBUM">
			[(#LOGO_ALBUM|sinon{#GET{img}}
			|image_passe_partout{150,150}
			|image_recadre{150,150,center,transparent}
			|image_aplatir{jpg,#ffffff}
			|sinon{#CHEMIN{css/img/placeholder.png}|balise_img|inserer_attribut{width,150}|inserer_attribut{height,150}}
			|inserer_attribut{class,spip_logos}
			|inserer_attribut{alt,[(#TITRE|attribut_html|couper{60})]}
			)]</a>
		</div>
	</div>
	<div class="doctexte col-md-10">
		<a href="#URL_ALBUM">
		#TITRE
		</a>
		<div class="caption">
			[(#DESCRIPTIF|couper{#ENV{coupe,150}})]
		</div>
	</div>
</div>
</BOUCLE_album>
