<BOUCLE_articles(ARTICLES) {id_article} {statut?}>
<div class="row-fluid">
	<div class="col-md-1">
	[<div class="logo">(#LOGO_ARTICLE|image_reduire{24,24}|responsive_logo)</div>]
	</div>
	<div class="doctexte col-md-11">
		[<div class="titre"><a href="#URL_ARTICLE" class="#EDIT{titre}">(#TITRE)</a></div>]
		<div class="descriptif_cplt">
		 [<div class="descriptif #EDIT{descriptif}">(#DESCRIPTIF)</div>]
		</div>
	</div>
</div>
</BOUCLE_articles>
