[(#REM)

  Squelette Presentation resumee d'un article dans une liste
  Distribue sous licence GPL

]
<BOUCLE_articles(ARTICLES) {id_article} {statut?}>
	<article class="entry article hentry">
		<div class="logo"><a href="#URL_ARTICLE" rel="bookmark">[(#ENV{logo_rubrique,' '}|?{#LOGO_ARTICLE_RUBRIQUE,#LOGO_ARTICLE}|sinon{#CHEMIN{images/logo.png}}|image_reduire{#ENV{largeur_logo,-1},#ENV{hauteur_logo,-1}})]</a></div>
			<strong class="h3-like entry-title">#TITRE</strong>
			<div class="descriptif #EDIT{descriptif}">[(#INTRODUCTION{150 }|textebrut)] <a href="#URL_ARTICLE" rel="bookmark"><span	class="read-more">Lire &laquo;[(#TITRE|attribut_html)]&raquo;</i></span></a>
		</div>
	</article>
</BOUCLE_articles>
