[(#REM)

  Squelette Presentation resumee d'un article dans une liste
  Distribue sous licence GPL

]
<BOUCLE_articles(ARTICLES) {id_article} {statut?}>

<article class="entry article hentry">
	<strong class="h3-like entry-title"><a href="#URL_ARTICLE" rel="bookmark">
		[(#ENV{logo_rubrique,' '}|?{#LOGO_ARTICLE_RUBRIQUE,#LOGO_ARTICLE}|image_reduire{200,120})]
		#TITRE
		<span class="read-more d-none">Lire &laquo;[(#TITRE|attribut_html)]&raquo;"></span></a></strong>
	<p class="publication">[<time pubdate="pubdate" datetime="[(#DATE|date_iso)]"><i class="icon-calendar"></i> (#DATE|affdate_jourcourt)</time>][<span class="authors"><span class="sep">, </span><i class="icon-user"></i> <:par_auteur:> (#LESAUTEURS)</span>]</p>
	[<div class="#EDIT{intro} introduction entry-content">(#INTRODUCTION{#ENV{coupe,150}}|textebrut) <a href="#URL_ARTICLE" rel="bookmark"><span class="read-more">Lire &laquo;[(#TITRE|attribut_html)]&raquo;</span></a></div>]


	</p>
</article>
</BOUCLE_articles>
