<BOUCLE_documents(DOCUMENTS) {id_document} {statut?}>
<div class="float-left">
	[<div class="logo">(#LOGO_DOCUMENT|image_reduire{24,24})</div>]
	</div>
	<div class="doctexte">
		[<div class="titre"><a href="#URL_DOCUMENT">(#TITRE|sinon{#FICHIER|basename})</a></div>]
		<div class="descriptif_cplt">
		 [<div class="descriptif">(#DESCRIPTIF|sinon{Pas de descriptif})</div>]
		</div>
</div>

</BOUCLE_documents>
