<BOUCLE_article(ARTICLES){id_article}>
<B_artdocuments_objet>
	<div id="documents_joints_article" class="documents_joints_article liste portfolio documents">
		<div class="titre"><a href="#URL_ARTICLE">#TITRE</a></div>
		<div class="#EDIT{descriptif}">#DESCRIPTIF</div>
		<ul class="liste-items">
		<BOUCLE_artdocuments_objet(DOCUMENTS){id_article}{par num titre, id_document}>
			<li class="item">#INCLURE{fond=inclure/resume/document_fichier,id_document,largeur_logo=32}</li>
		</BOUCLE_artdocuments_objet>
		</ul>
	</div> <!-- Fin portfolio -->
</B_artdocuments_objet>
</BOUCLE_article>
