[(#REM)

  Squelette Presentation resumee d'un rubrique dans une liste
  Distribue sous licence GPL

]
<BOUCLE_rubriques(RUBRIQUES) {id_rubrique} {statut?}>
<article class="entry rubrique">
	<strong class="h3-like entry-title"><a href="#URL_RUBRIQUE" rel="bookmark">[(#LOGO_RUBRIQUE|image_reduire{#ENV{largeur_logo,-1},#ENV{hauteur_logo,-1}}|responsive_logo)]#TITRE<span
		class="read-more hide">Lire &laquo;[(#TITRE|attribut_html)]&raquo;"></i></span></a></strong>
	<p class="publication">[<time pubdate="pubdate" datetime="[(#DATE|date_iso)]"><i class="icon-calendar"></i> (#DATE|affdate_jourcourt)</time>]</p>
	[<div class="#EDIT{intro} introduction entry-content">(#INTRODUCTION{#ENV{coupe,300}})<a href="#URL_RUBRIQUE" rel="bookmark"><span class="read-more">Lire &laquo;[(#TITRE|attribut_html)]&raquo;</span></a></div>]
	
	
	<p class="postmeta">
	<BOUCLE_nb_commentaires(FORUMS) {id_rubrique}{plat} />	[(#TOTAL_BOUCLE|oui)
		<span class="sep">|</span>
		<a[ href="(#URL_RUBRIQUE|ancre_url{forum})"] class="nb_commentaires" [title="(#TOTAL_BOUCLE|singulier_ou_pluriel{zcore:info_1_commentaire,zcore:info_nb_commentaires}|attribut_html)"]>[<i class="icon-comment"></i> (#TOTAL_BOUCLE)]</a>
		]
	<//B_nb_commentaires>
	</p>
</article>
</BOUCLE_rubriques>
