#CACHE{0}
<B_taches>
#ANCRE_PAGINATION
<div class="liste-objets">
<caption><strong class="caption"><strong>#GRAND_TOTAL</strong> <:benevolat_tache:taches:></strong></caption>
<table class="table table-striped">
<thead>
<tr class="first_row">
<th class="titre principale" scope="col"><:benevolat_tache:tache:></th>
<th class="" scope="col"><:benevolat_tache:participant:></th>
<th class="action" scope="col">&nbsp;</th>
</tr>
</thead>
<tbody>
	    <BOUCLE_taches(benevolat_taches){pagination #ENV{nb,50}}{!par date_creation}>
	    <tr class="">

				<td class="nom">
				#BLOC_TITRE
					#NOM
				#BLOC_DEBUT
					<div class="detail">#DETAILS</div>
					<div class="agenda">#DUREE [ - (#REGULARITE) ][- (#ECHEANCE)]</div>
					[<div class="competence"><span class="labels"><:benevolat_tache:competence:> : </span>(#COMPETENCE)</div>]
					[<div class="nb_personne"><span class="labels">Nombre de personnes souhaitées : </span>(#NB_PERSONNE)</div>]
				#BLOC_FIN
				</td>
				
				<td class="participant">
				
						<ul>
		#SET{tab_participant_id,#ARRAY}
		<BOUCLE_tache_ben(BENEVOLAT_PARTICIPANTS){id_benevolat_tache}>
			
			
			<li>
				[(#ID_AUTEUR|oui)
					#SET{tab_participant_id,#GET{tab_participant_id}|push{#ID_AUTEUR}}
					#SET{tab_participant,#ID_AUTEUR|benevolat_participant_informations{#NOM,#COURRIEL,#TELEPHONE}}
					[(#GET{tab_participant}|table_valeur{id_auteur}|oui)[(#GET{tab_participant}|table_valeur{nom})]]]
				[(#ID_AUTEUR|non)#NOM]
			</li>
		</BOUCLE_tache_ben>
		</ul>
		</B_tache_ben>
		<p>Aucun participant enregistré</p>
		<//B_tache_ben>
				
				
				
				</td>


				<td class="inscription">
					
					[(#SESSION{id_auteur}|in_array{#GET{tab_participant_id}}|non)
					<a  class="ajax nohistory nocache btn btn-small btn-success" href="[(#URL_ACTION_AUTEUR{participer_benevolat_tache,#ID_BENEVOLAT_TACHE,#SELF})]"><img src="[(#CHEMIN_IMAGE{images/ico_partiper.png})]" alt="<:benevolat:je_veux_participer:>" /></a>]
					[(#SESSION{id_auteur}|in_array{#GET{tab_participant_id}}|oui)
					<a class="ajax nohistory nocache btn btn-small" href="[(#URL_ACTION_AUTEUR{desengagement_benevolat_tache,#ID_BENEVOLAT_TACHE,#SELF})]"><img src="[(#CHEMIN_IMAGE{images/ico_partiper.png})]" alt="<:benevolat:je_ne_veux_plus_participer:>" /></a>]
				</td>
	    </tr>
	    </BOUCLE_taches>
</tbody>
</table>
[<p class='pagination'>(#PAGINATION{prive})</p>]


</div>

</B_taches>
<:benevolat_tache:aucune_tache:>
<//B_taches>
