[(#REM)
	Informations Open Graph de Facebook en en-tete
	! necessite de transmettre l'environnement !
	
	Les balises 'title', 'type', 'url' et 'image' sont necessaires
	Les emails ne sont pas inseres, sauf si vous precisez {email=oui}
	
	Documentation OpenGraph officielle : http://developers.facebook.com/docs/opengraph/

]
[	<meta property="og:site_name" content="(#NOM_SITE_SPIP|propre|supprimer_tags|textebrut|entites_html)" />]
[	<meta property="og:locale" content="(#LANG)_][(#LANG|strtoupper)" />]

[(#REM) ARTICLE ]
<BOUCLE_article_og(ARTICLES){id_article=#ENV{id_article}}>
	[(#SET{url_doc,#LOGO_ARTICLE|image_reduire{600,600}|extraire_attribut{src}|url_absolue_si})]
	<BOUCLE_d(DOCUMENTS){si #GET{url_doc}|=={''}}>
		<BOUCLE_documents_og_image_art(DOCUMENTS){id_article}{extension IN gif,jpg,png}>
		[(#SET{url_doc,#URL_DOCUMENT|image_reduire{600,600}|extraire_attribut{src}|url_absolue_si})]
		</BOUCLE_documents_og_image_art>
	</BOUCLE_d>
[	<meta property="og:url" content="(#URL_ARTICLE|url_absolue)" />]
	<meta property="og:type" content="article" />
[	<meta property="og:title" content="(#TITRE|supprimer_tags|textebrut|entites_html)" />]
[	<meta property="og:description" content="(#INTRODUCTION|propre|supprimer_tags|textebrut|entites_html)" />]
[	<meta property="og:image" content="(#GET{url_doc}|sinon{#LOGO_SITE_SPIP|extraire_attribut{src}|url_absolue_si})" />]
</BOUCLE_article_og>

[(#REM) RUBRIQUE ]
	<BOUCLE_rubrique_og(RUBRIQUES){id_rubrique=#ENV{id_rubrique}}>
	[	<meta property="og:url" content="(#URL_RUBRIQUE|url_absolue)" />]
		<meta property="og:type" content="article" />
	[	<meta property="og:title" content="(#TITRE|supprimer_tags|textebrut|entites_html)" />]
	[	<meta property="og:description" content="(#INTRODUCTION|propre|supprimer_tags|textebrut|entites_html)" />]
	[	<meta property="og:image" content="(#LOGO_RUBRIQUE||sinon{#LOGO_SITE_SPIP}|extraire_attribut{src}|url_absolue)" />]
	</BOUCLE_rubrique_og>

[(#REM) AUTEUR ]
		<BOUCLE_auteur_og(AUTEURS){id_auteur=#ENV{id_auteur}}>
		[	<meta property="og:url" content="(#URL_AUTEUR|url_absolue)" />]
			<meta property="og:type" content="author" />
		[	<meta property="og:title" content="(#NOM|supprimer_tags|textebrut|entites_html)" />]
		[	<meta property="og:description" content="(#BIO|propre|supprimer_tags|textebrut|entites_html)" />]
		[	<meta property="og:image" content="(#LOGO_AUTEUR||sinon{#LOGO_SITE_SPIP}|extraire_attribut{src}|url_absolue)" />]
		[(#ENV{email}|=={oui}|oui)[
			<meta property="og:email" content="(#EMAIL)" />]]
		</BOUCLE_auteur_og>

[(#REM) MOT CLE ]
			<BOUCLE_mot_og(MOTS){id_mot=#ENV{id_mot}}>
			[	<meta property="og:url" content="(#URL_MOT|url_absolue)" />]
				<meta property="og:type" content="article" />
			[	<meta property="og:title" content="(#TITRE|supprimer_tags|textebrut|entites_html)" />]
			[	<meta property="og:description" content="(#TEXTE|propre|couper{260}|supprimer_tags|textebrut|entites_html)" />]
			[	<meta property="og:image" content="(#LOGO_MOT||sinon{#LOGO_SITE_SPIP}|extraire_attribut{src}|url_absolue)" />]
			</BOUCLE_mot_og>

[(#REM) DOCUMENT : image ]
				<BOUCLE_documents_og_image(DOCUMENTS){id_document=#ENV{id_document}}{extension IN gif,jpg,png}>
				[	<meta property="og:image" content="(#URL_DOCUMENT|url_absolue)" />]
				[	<meta property="og:image:title" content="(#TITRE|sinon{<:info_document:>}|supprimer_tags|textebrut|entites_html)" />]
				[	<meta property="og:image:height" content="(#HAUTEUR)" />]
				[	<meta property="og:image:width" content="(#LARGEUR)" />]
				[	<meta property="og:image:type" content="(#MIME_TYPE)" />]
				[	<meta property="og:image:description" content="(#DESCRIPTIF|propre|supprimer_tags|textebrut|entites_html)" />]
				</BOUCLE_documents_og_image>

[(#REM) DOCUMENT : audio ]
					<BOUCLE_documents_og_audio(DOCUMENTS){id_document=#ENV{id_document}}{extension IN mp3,wav,aiff,aif}>
					[	<meta property="og:audio" content="(#URL_DOCUMENT|url_absolue)" />]
					[	<meta property="og:audio:title" content="(#TITRE|sinon{<:info_document:>}|supprimer_tags|textebrut|entites_html)" />]
					[	<meta property="og:audio:type" content="(#MIME_TYPE)" />]
					[	<meta property="og:audio:description" content="(#DESCRIPTIF|propre|supprimer_tags|textebrut|entites_html)" />]
					</BOUCLE_documents_og_audio>

[(#REM) DOCUMENT : video ]					
						<BOUCLE_documents_og_video(DOCUMENTS){id_document=#ENV{id_document}}{extension IN flv,mov,f4v,avi}>
						[	<meta property="og:video" content="(#URL_DOCUMENT|url_absolue)" />]
						[	<meta property="og:video:title" content="(#TITRE|sinon{<:info_document:>}|supprimer_tags|textebrut|entites_html)" />]
						[	<meta property="og:video:height" content="(#HAUTEUR)" />]
						[	<meta property="og:video:width" content="(#LARGEUR)" />]
						[	<meta property="og:video:type" content="(#MIME_TYPE)" />]
						[	<meta property="og:video:description" content="(#DESCRIPTIF|propre|supprimer_tags|textebrut|entites_html)" />]
						</BOUCLE_documents_og_video>

[(#REM) SITE ]						
							<BOUCLE_site_og(SITES){id_syndic=#ENV{id_syndic}}>
							[	<meta property="og:url" content="(#URL_SITE|url_absolue)" />]
								<meta property="og:type" content="website" />
							[	<meta property="og:title" content="(#NOM_SITE|supprimer_tags|textebrut|entites_html)" />]
							[	<meta property="og:image" content="(#LOGO_SITE||sinon{#LOGO_SITE_SPIP}|extraire_attribut{src}|url_absolue)" />]
							[	<meta property="og:description" content="(#DESCRIPTIF|propre|supprimer_tags|textebrut|entites_html)" />]
							</BOUCLE_site_og>

[(#REM) BREVE ]
								<BOUCLE_breve_og(BREVES ?){id_breve=#ENV{id_breve}}>
								[	<meta property="og:title" content="(#TITRE|supprimer_tags|textebrut|entites_html)" />]
									<meta property="og:type" content="article" />
								[	<meta property="og:url" content="(#URL_BREVE|url_absolue)" />]
								[	<meta property="og:image" content="(#LOGO_BREVE||sinon{#LOGO_SITE_SPIP}|extraire_attribut{src}|url_absolue)" />]
								[	<meta property="og:description" content="(#INTRODUCTION|propre|supprimer_tags|textebrut|entites_html)" />]
								</BOUCLE_breve_og>

[(#REM) CAS GENERAL : TOUS LES AUTRES CAS ]								
									[	<meta property="og:title" content="(#NOM_SITE_SPIP|supprimer_tags|textebrut|entites_html)" />]
										<meta property="og:type" content="website" />
									[	<meta property="og:url" content="(#URL_SITE_SPIP|url_absolue)" />]
									[(#ENV{email}|=={oui}|oui)[
										<meta property="og:email" content="(#EMAIL_WEBMASTER)" />]]
									[	<meta property="og:image" content="(#LOGO_SITE_SPIP||extraire_attribut{src}|url_absolue)" />]
									[	<meta property="og:description" content="(#DESCRIPTIF_SITE_SPIP|propre|supprimer_tags|textebrut|entites_html)" />]

								<//B_breve_og>
							<//B_site_og>
						<//B_documents_og_video>
					<//B_documents_og_audio>
				<//B_documents_og_image>
			<//B_mot_og>
		<//B_auteur_og>
	<//B_rubrique_og>
<//B_article_og>