[(#REM) 
<!-- Affichage du portfolio de l'article ou de la rubrique (images jointes non deja incluses dans le texte). 
Utilise Mediabox uniquement ou aucun effet.
	Recoit en argument :
		- id_article: id de l'article concerne
		- id_rubrique: id de la rubrique concernee 
		- effet_galerie: precise le type de plugin utilise pour l'effet galerie: mediabox, aucun
		- avec_diaporama: indique si le portfolio des image doit etre affiche sous forme de diaporama mediabox ou image par image
-->
]
<B_images_article>
	<div id="images_jointes" class="images_jointes liste portfolio images">
		<h2>Portfolio</h2>
		<ul class="thumbnails">
		<BOUCLE_images_article(DOCUMENTS){id_article ?}{id_rubrique ?}{id_album ?}{extension IN gif,jpg,png}{mode==#ENV{mode,document}}{vu=non}{par num titre, id_document}>
		[(#SET{titre, [(#TITRE|couper{250}|sinon{[(#TYPE_DOCUMENT) - ][(#TAILLE|taille_en_octets)]})]})]
		[<li><a href="#FICHIER"
		  class="thumbnail[(#ENV{effet_galerie,1}|oui)mediabox]"[
			title="(#GET{titre}|attribut_html)"][
			(#ENV{avec_diaporama,oui}|=={oui}|oui)rel="galerie#ID_ARTICLE#ID_RUBRIQUE#ID_ALBUM"]>
			(#FICHIER|copie_locale
			|image_passe_partout{250,250}
			|image_recadre{250,250,center}|inserer_attribut{alt, #GET{titre}})
		</a></li>]
		</BOUCLE_images_article>
		</ul>
	</div> <!-- Fin portfolio -->
</B_images_article>

