[(#PLUGIN{albums}|sinon_interdire_acces)]
<BOUCLE_album_principal(ALBUMS) {id_album}>
	[(#REM) <!-- Contenu de l'album --> ]
	<article class="album album_#ID_ALBUM">
		[(#REM) <!-- Titre, logo, texte de la rubrique --> ]
		<INCLURE{fond=inclure/album/description}
			{id_album}
			{page=album}
			{afficher_commentaires=oui}
			{avec_popularite=oui}
			{avec_socialbar=0}
			{taille_logo=150}>
		<aside>
			[(#REM) <!-- Presentation des photos --> ]
			<INCLURE{fond=inclure/album/presentation_photos}{id_album}{id_document}>
			[(#REM) <!-- Documents (sauf images) du portfolio de la rubrique --> ]
			[(#INCLURE{fond=inclure/document/liste-documents_joints, objet=album,id_objet=#ID_ALUBM})]
			<INCLURE{fond=comments,id_objet=#ID_ALBUM,objet=#ALBUM,id_rubrique='',env} />
		</aside>
	</article>
</BOUCLE_album_principal>

