<BOUCLE_contenu_courrier(COURRIERS){id_courrier}>
[(#REM) Fil d'Ariane ]
<div id="hierarchie"><a href="#URL_SITE_SPIP/"><:accueil_site:></a>[ &gt; <strong class="on">(#TITRE|couper{80})</strong>]</div>

<div class="contenu-principal">

	[(#REM) Contenu principal : contenu du courrier ]
    <div class="hfeed" id="conteneur">
    <div class="hentry" id="contenu">
    
    
        <div class="cartouche">
            <div class="surlignable">
				<div>Newsletter du [(#DATE_FIN_ENVOI|affdate)]</div>
				<h1 class="#EDIT{titre} entry-title">#TITRE</h1>
            </div>
        </div>
		
        <div class="surlignable">
			[<div class="#EDIT{texte} texte entry-content">(#TEXTE|image_reduire{350,0})</div>]
		</div>
	</div><!--#contenu-->
	</div><!--#conteneur-->


</div>

    
</BOUCLE_contenu_courrier>
