
<div class="content" id="content" >
						
						


<div class="contenu-principal">


    <div class="hfeed" id="conteneur">
    <div class="hentry" id="contenu">
    
    
        <div class="cartouche">
            <div class="surlignable">
				<h1 class="#EDIT{titre} entry-title">Les infolettres</h1>
            </div>
        </div>
		
        <div class="surlignable">
			<B_newsletters>
				<table class="table_courriers">
				<BOUCLE_newsletters(NEWSLETTERS){!titre_mot=discrete}{statut=publie}{par date}{inverse}{pagination 10}>
				<tr>
					<td class="date">[(#DATE|affdate_court)]</td>
					<td>
					[<div class="logo"><a href="#URL_NEWSLETTER">(#LOGO_NEWSLETTER|image_reduire{40,40})</div>]
					</td><td>
						<a href="#URL_NEWSLETTER">#TITRE</a></td>
				</tr>
				</BOUCLE_newsletters>
				</table>
				<div class="pagination">#PAGINATION</div>
			</B_newsletters>
		</div>
	</div><!--#contenu-->
	</div><!--#conteneur-->


</div>

</div>

