<section>
	<header>
		<h1>Résultats de la recherche</h1>
	</header>
	<B_resultats>
	<div class="main">
		<div class="chapo">
			<p>Résultats de la recherche pour #RECHERCHE</p>
		</div>
	</div>
	<aside>
		<BOUCLE_resultats(POUR){tableau #LISTE{articles,albums,rubriques,documents}}>[(#INCLURE{fond=noisettes/recherche/liste-#VALEUR|concat{_branche},recherche,ajax,id_rubrique})]</BOUCLE_resultats>
	</aside>
	</B_resultats>
		<div class="main">
			<div class="chapo">
				<p>Aucun résultat pour #RECHERCHE </p>
			</div>
		</div>

	<//B_resultats>
</section>
