<div class="contenu-principal row">
	<div class="cartouche col-md-12">
		<h1 class="h1 ">Explorateur de documents</h1>
	</div>
	[<div class="#EDIT{texte} chapo">(#TEXTE)</div>]
</div>
<div class="row">
	<div class="col-md-12 bloc">
		<div class="ajax">
			<INCLURE{fond=inclure/explorateur}{env}{ajax}>
		</div>
	</div>
</div>
