<BOUCLE_contenu_rubrique(RUBRIQUES){id_rubrique}>
<div class="row">
	<section class="contenu-principal">
	<header class="cartouche">
		[(#LOGO_RUBRIQUE||image_reduire{200,200})]
		<h1 class="h1 #EDIT{titre}">#TITRE</h1>
	</header>

	
	[<div class="#EDIT{texte} chapo">(#TEXTE)</div>]

	<BOUCLE_rubrique_alerte(RUBRIQUES){titre="Alertes"}>
		<B_articles_alerte>
		<div id="alerte" >
		<div class="inner alert">	
				<BOUCLE_articles_alerte(ARTICLES){id_rubrique} {par num titre,titre} >
				<div class="titre #EDIT{titre}">#TITRE</div>
				<div class="texte #EDIT{texte}">#TEXTE</div>
				</BOUCLE_articles_alerte>
			</div>
		</div>
	</B_articles_alerte>
	</BOUCLE_rubrique_alerte>

	</section>



<div class="row">

	<div class="col-md-4 bloc" id='agenda'>
		<div class="inner">
		<h3>Agenda</h3>
		[(#INCLURE{fond=inclure/mini_agenda,env})]
		</div>
	</div>
			

	<div class="col-md-4 bloc" id='actu'>
		<div class="inner">	
			<B_une>
				<div class="liste long articles articles_recents">
				<h3>Actu & Annonces</h3>
				<div class="bloc">
				<BOUCLE_une(ARTICLES){id_rubrique=14}{doublons}{par date}{inverse}{0,1}>
					<article class="entry article hentry">
					<div class="logo">[(#TEXTE|oui)<a href="#URL_ARTICLE" rel="bookmark">][(#ENV{logo_rubrique,' '}|?{#LOGO_ARTICLE_RUBRIQUE,#LOGO_ARTICLE}|sinon{#CHEMIN{images/logo.png}}|image_reduire{80,80})][(#TEXTE|oui)</a>]</div>
						<strong class="h3-like entry-title">#TITRE</strong>
						<div class="descriptif #EDIT{descriptif}">[(#DESCRIPTIF|textebrut)] [(#TEXTE|oui)<a href="#URL_ARTICLE" rel="bookmark"><span	class="read-more">Lire &laquo;[(#TITRE|attribut_html)]&raquo;</i></span></a>]
					</div>
					</article>
				</BOUCLE_une>
				</div>
				</div>
			</B_une>
		</div>
	</div>


	<div class="col-md-4 bloc" id='newsletter'>
		<div class="inner">
		<h3>Newsletter</h3>
		[(#INCLURE{fond=inclure/derniere_newsletter})]
		</div>
	</div>
	<div class="clearfix"></div>
</div>	


	
		
<BOUCLE_rubrique_document(RUBRIQUES){titre=="Document"}{id_parent=#ID_RUBRIQUE}>	
<div class="row">
	<div class="bloc col-md-8" id='documents'>
	<div class="inner">
		<h3>#TITRE</h3>
		#SET{tab_rubrique,#ARRAY{0,11}}

		<BOUCLE_rubdoc2(RUBRIQUES){branche}{tout}>#SET{tab_rubrique,#GET{tab_rubrique}|push{#ID_RUBRIQUE}}</BOUCLE_rubdoc2>
		#SET{tab_docart,#ARRAY{}}
		<BOUCLE_super_documents_res(DOCUMENTS){id_rubrique IN #GET{tab_rubrique}}{titre_mot=important}{doublons}{!par date}>#SET{tab_docart,#GET{tab_docart}|push{#ARRAY{'objet','document','id',#ID_DOCUMENT,'date',#DATE,'titre',#TITRE}}</BOUCLE_super_documents_res>
		<BOUCLE_super_articles_res(ARTICLES){id_rubrique IN #GET{tab_rubrique}}{titre_mot=important}{doublons}{!par date}>#SET{tab_docart,#GET{tab_docart}|push{#ARRAY{'objet','article','id',#ID_ARTICLE,'date',#DATE,'titre',#TITRE}}}</BOUCLE_super_articles_res>
		<BOUCLE_super_album_res(ALBUMS){id_rubrique IN #GET{tab_rubrique}}{titre_mot=important}{doublons}{!par date}>#SET{tab_docart,#GET{tab_docart}|push{#ARRAY{'objet','album','id',#ID_ALBUM,'date',#DATE,'titre',#TITRE}}}</BOUCLE_super_album_res>
		#SET{tab_docart,#GET{tab_docart}|tri_docart{'date'}}
		<div class="row">
			<B_superdoc>
				<div class="menu rubriques col-md-6">
				<div class="liste documents">
				<ul class="liste-items">
					<BOUCLE_superdoc(POUR){tableau #GET{tab_docart}}{0,3}>
						<li>
							[(#VALEUR|table_valeur{'objet'}|=={"document"}|oui)
								[(#INCLURE{fond=inclure/resume/document_liste_important,id_document=#VALEUR|table_valeur{'id'}})]]

							[(#VALEUR|table_valeur{'objet'}|=={"article"}|oui)
								[(#INCLURE{fond=inclure/resume/article_document,id_article=#VALEUR|table_valeur{'id'}})]]

							[(#VALEUR|table_valeur{'objet'}|=={"album"}|oui)
								[(#INCLURE{fond=inclure/resume/album_document,id_album=#VALEUR|table_valeur{'id'}})]]
							</li>
						</BOUCLE_superdoc>
				</ul>
				</div>
				</div>
			</B_superdoc>

			#SET{tab_docart,#ARRAY{}}
			<BOUCLE_documents_res(DOCUMENTS){id_rubrique IN #GET{tab_rubrique}}{doublons}{!par date}{0,5}>#SET{tab_docart,#GET{tab_docart}|push{#ARRAY{'objet','document','id',#ID_DOCUMENT,'date',#DATE,'titre',#TITRE}}</BOUCLE_documents_res>
			<BOUCLE_articles_res(ARTICLES){id_rubrique IN #GET{tab_rubrique}}{doublons}{!par date}{0,5}>#SET{tab_docart,#GET{tab_docart}|push{#ARRAY{'objet','article','id',#ID_ARTICLE,'date',#DATE,'titre',#TITRE}}}</BOUCLE_articles_res>
			<BOUCLE_album_res(ALBUMS){id_rubrique IN #GET{tab_rubrique}}{doublons}{!par date}{0,5}>#SET{tab_docart,#GET{tab_docart}|push{#ARRAY{'objet','album','id',#ID_ALBUM,'date',#DATE,'titre',#TITRE}}}</BOUCLE_album_res>
			#SET{tab_docart,#GET{tab_docart}|tri_docart{'date'}}

			<B_documentarts_res>
				<div class="menu rubriques col-md-6">
				<div class="liste documents derniers_documents">
				<ul class="liste-items">
				<BOUCLE_documentarts_res(POUR){tableau #GET{tab_docart}}{0,5}>
					<li>
						[(#VALEUR|table_valeur{'objet'}|=={"document"}|oui)
							[(#INCLURE{fond=inclure/resume/document_liste_dernier,id_document=#VALEUR|table_valeur{'id'}})]]

						[(#VALEUR|table_valeur{'objet'}|=={"article"}|oui)
							[(#INCLURE{fond=inclure/resume/article_document,id_article=#VALEUR|table_valeur{'id'}})]]

						[(#VALEUR|table_valeur{'objet'}|=={"album"}|oui)
							[(#INCLURE{fond=inclure/resume/album_document,id_album=#VALEUR|table_valeur{'id'}})]]
					</li>
				</BOUCLE_documentarts_res>
				</ul>
				</div>
				</div>
			</B_documentarts_res>
			<div class="clearfix"></div>
		</div>
	</div>
	</div>


	<div class="bloc col-md-4">
		<div class="menu rubriques">
			<div class="btn btn-success btn-explorer">
				[(#LOGO_RUBRIQUE|image_reduire{40,40})]
				<a href="#URL_RUBRIQUE">Explorer l'ensemble des documents</a>
			</div>
				#FORMULAIRE_RECHERCHE{#URL_PAGE{recherche_document,id_rubrique=#ID_RUBRIQUE}}
		</div>
	</div>
	<div class="clearfix"></div>
</div>
</BOUCLE_rubrique_document>







[<div class="bloc" id="taches">
	<div class="inner">
	<h2>Tâches bénévoles</h2>
	(#INCLURE{fond=inclure/inc_tache_benevoles}{ajax}{env})
	</div>
</div>]

<div class="row">

<div class="bloc col-md-6" id="idee">
	<div class="inner">
	<B_sous_rubriques_idee>
		<div class="menu rubriques">
		<BOUCLE_sous_rubriques_idee(RUBRIQUES){id_rubrique=13}{tout}>
			<h2>#TITRE</h2>
			[<div class="texte">(#DESCRIPTIF)</div>]
			[(#ENV{formulaire_action}|=={fiche}|oui)#BLOC_TITRE{visible}]
			[(#ENV{formulaire_action}|=={fiche}|non)#BLOC_TITRE]
			Ajouter une idée
			#BLOC_DEBUT
			[(#FORMULAIRE_FICHE{#ID_RUBRIQUE})]
			#BLOC_FIN
		[(#INCLURE{fond=inclure/boite_idee}{ajax}{env})]
		</BOUCLE_sous_rubriques_idee>
		</div>
	</B_sous_rubriques_idee>
	</div>
</div>
	<div class="clearfix"></div>
</div>




<B_articles>
<div class="liste articles">
	#ANCRE_PAGINATION
	<ul>
		<BOUCLE_articles(ARTICLES){id_rubrique} {!par date} {pagination 5}>
		[(#INCLURE{fond=inclure/article-complet,id_article})]
		</BOUCLE_articles>
	</ul>
	[<p class="pagination">(#PAGINATION)</p>]
</div>
</B_articles>




<div class="clearfix"></div>
</div>
</BOUCLE_contenu_rubrique>
