<BOUCLE_contenu_rubrique(RUBRIQUES){id_rubrique}>
[(#REM) Fil d'Ariane ]
<p id="hierarchie"><a href="#URL_SITE_SPIP/"><:accueil_site:></a><BOUCLE_ariane(HIERARCHIE){id_rubrique}> &gt; <a href="#URL_RUBRIQUE">[(#TITRE|couper{80})]</a></BOUCLE_ariane>[ &gt; <strong class="on">(#TITRE|couper{80})</strong>]</p>

<div class="contenu-principal">

	<div class="cartouche">
		[(#LOGO_RUBRIQUE||image_reduire{200,200})]
		<h1 class="h1 #EDIT{titre}">#TITRE</h1>
		[<!--<p class="info-publi"><span class="published"><:dernier_ajout:> : (#DATE|affdate_jourcourt).</span></p>-->]
	</div>

	[<div class="#EDIT{texte} chapo">(#TEXTE)</div>]
</div>




<h2>Documents</h2>



	<B_sous_rubriques_cr_CA>
	<div class="menu rubriques">
	
			<BOUCLE_sous_rubriques_cr_CA(RUBRIQUES) {id_rubrique=8}>
			
				<h3>Comité d'administration</h3>
				<B_articles_cr>
				<div class="liste articles">
					#ANCRE_PAGINATION
					<ul class="liste-items">
						<BOUCLE_articles_cr(ARTICLES){id_rubrique} {!par date} {pagination 10}>
						<li><a href='#URL_ARTICLE'>#TITRE</a></li>
						</BOUCLE_articles_cr>
					</ul>
					[<p class="pagination">(#PAGINATION)</p>]
				</div>
				</B_articles_cr>

			
			</BOUCLE_sous_rubriques_cr_CA>

		</div>
	</B_sous_rubriques_cr_CA>
	<B_sous_rubriques_cr_AG>
	<div class="menu rubriques">
	
			<BOUCLE_sous_rubriques_cr_AG(RUBRIQUES) {id_rubrique=9}>
			
				<h3>[(#TITRE)]</h3>
				<B_articles_cr_AG>
				<div class="liste articles">
					#ANCRE_PAGINATION
					<ul class="liste-items">
						<BOUCLE_articles_cr_AG(ARTICLES){id_rubrique} {!par date} {pagination 10}>
						<li><a href='#URL_ARTICLE'>#TITRE</a></li>
						</BOUCLE_articles_cr_AG>
					</ul>
					[<p class="pagination">(#PAGINATION)</p>]
				</div>
				</B_articles_cr_AG>

			
			</BOUCLE_sous_rubriques_cr_AG>

		</div>
	</B_sous_rubriques_cr_AG>

	<B_sous_rubriques_doc>
	<div class="menu rubriques">
	
			<BOUCLE_sous_rubriques_doc(RUBRIQUES) {id_rubrique=11}>
			
				<h3>Autres documents</h3>
				<B_articles_doc>
				<div class="liste articles">
					#ANCRE_PAGINATION
					<ul class="liste-items">
						<BOUCLE_articles_doc(ARTICLES){id_rubrique} {!par date} {pagination 10}>
						<li><a href='#URL_ARTICLE'>#TITRE</a></li>
						</BOUCLE_articles_doc>
					</ul>
					[<p class="pagination">(#PAGINATION)</p>]
				</div>
				</B_articles_doc>

			
			</BOUCLE_sous_rubriques_doc>

		</div>
	</B_sous_rubriques_doc>


[(#REM) Gestion du portfolio et des documents ]
[(#INCLURE{fond=inclure/documents}{id_rubrique})]


<BOUCLE_sous_rubriques(RUBRIQUES){id_parent}{titre==Veille}>

<h2>#TITRE</h2>

[(#REM) Sites de la rubrique ]
<B_sites>
<div class="liste sites">
		<h2 class="h2"><:sur_web:></h2>
		<ul class="liste-items">
				<BOUCLE_sites(SITES) {id_rubrique} {par nom_site}>
				<li class="item">
	<a href="[(#ID_SYNDIC|generer_url_entite{site,'','',#CONNECT})]">#NOM_SITE</a>
						<B_syndic>
						<ul>
								<BOUCLE_syndic(SYNDIC_ARTICLES) {id_syndic} {age<180} {par date}{inverse} {0,3}>
								<li><a href="#URL_ARTICLE" class="spip_out">#TITRE</a></li>
								</BOUCLE_syndic>
						</ul>
						</B_syndic>
				</li>
				</BOUCLE_sites>
		</ul>
</div>
</B_sites>

</BOUCLE_sous_rubriques>





[<div class="notes"><h2 class="h2"><:info_notes:></h2>(#NOTES)</div>]
</BOUCLE_contenu_rubrique>
