<div class="row">
	<div class="col-md-6 col-lg-4">
		<div class="inner">
			<section class="home">
			<div class="float-right">[(#CHEMIN{images/pumpkin.png}|image_reduire{130})]</div>
			<BOUCLE_article(ARTICLES) {id_article=2}{0,1}>
			<h1>#NOM_SITE_SPIP</h1>
			<div class="descriptif">#DESCRIPTIF_SITE_SPIP</div>
			<div ><a href="#URL_ARTICLE" class="btn btn-success">En savoir sur Robin des Bio</a></div>
			</BOUCLE_article>

			<BOUCLE_0_album(ALBUMS?) {0,1} {si #PLUGIN{albums}}>
			<div class="descriptif #EDIT{descriptif}">#DESCRIPTIF</div>
			</BOUCLE_0_album>
			</section>

		</div>
	</div>


	<div class="col-md-6 col-lg-8">
		<div class="row">

			[(#REM) ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
						BLOC ALERTE
			~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~]
			<BOUCLE_rubrique_alerte(RUBRIQUES){titre="Alertes"}>
			<B_articles_alerte>
			<div id="alerte" class="col-md-12 secondary">
			<div class="inner alert">
					<BOUCLE_articles_alerte(ARTICLES){id_rubrique} {par num titre,titre} >
					<div class="titre #EDIT{titre}">#TITRE</div>
					<div class="texte #EDIT{texte}">#TEXTE</div>
					</BOUCLE_articles_alerte>
				</div>
			</div>
			</B_articles_alerte>
			</BOUCLE_rubrique_alerte>





			[(#REM) ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
			BLOC epicerie
			~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~]

			<BOUCLE_rubrique_epicerie(RUBRIQUES){id_rubrique=30}>
			<div id="epicerie" class="col-md-12 col-xl-6 secondary">
				<h3>#TITRE</h3>

				[(#REM) ~~~~  Bandeau défilant alerte epicerie ]
				<BOUCLE_rubrique_epicerie_alerte(RUBRIQUES){id_rubrique=31}>
				<BOUCLE_articles_epicerie_alerte(ARTICLES){id_rubrique}{descriptif=''}{par num titre,titre} >
					#SET{titre,#TITRE}
				</BOUCLE_articles_epicerie_alerte>
				<script type="text/javascript">
					var defile;// l'element a deplacer
					var psinit = 300; // position horizontale de depart
					var pscrnt = psinit;
					function texteDefile() {
						if (!defile) defile = document.getElementById('defile');
						if (defile) {
							if(pscrnt < ( - defile.offsetWidth) ){
								pscrnt = psinit;
							} else {
								pscrnt+= -0.5; // pixel par deplacement
							}
							defile.style.left = pscrnt+"px";
						}
					}
					setInterval("texteDefile()",5); // delai de deplacement
				</script>
				<style type="text/css">
					#boxe_defil { position:relative; width:100%; height:20px; overflow:hidden;  }
					#defile { position:absolute; margin-top:1px; background-color:transparent; }
				</style>

				<div id="boxe_defil">
					<div id="defile">ALERTE ÉPICERIE : <a href="#URL_RUBRIQUE">#GET{titre} - en savoir plus</a></div>
				</div>
				</B_articles_epicerie_alerte>
				</BOUCLE_rubrique_epicerie_alerte>


				[(#REM) ~~~~ Artile epicerie  ]

				<B_articles_epicerie>
				<div class="bloc">
					<div class="inner alert">
						<ul class="liste-items">
							<BOUCLE_articles_epicerie(ARTICLES){id_rubrique} {par num titre,titre} >
								<li>
										<div class="logo"><a href="#URL_ARTICLE" rel="bookmark">[(#LOGO_ARTICLE_RUBRIQUE|image_reduire{60,60})]</a></div>
									<strong class="h3-like entry-title">#TITRE</strong>
									<div class="descriptif #EDIT{texte}">[(#TEXTE)] </div>
								</li>
							</BOUCLE_articles_epicerie>
						</ul>
					</div>
				</div>
				</B_articles_epicerie>

			</div>
			</BOUCLE_rubrique_epicerie>



			[(#REM) ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
			BLOC Agenda + Bloc Zoom
			~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~]



			<div class="zoom col-md-12 col-xl-6 secondary">
				[<div id="mini_agenda">
					<h3>Agenda</h3>
					<div class="bloc">(#INCLURE{fond=inclure/mini_agenda,env})</div>
				</div>]
				<B_une>
					<div class="zoom">
						<h3>Zoom</h3>
						<div class="bloc">
							<ul class="liste-items">
							<BOUCLE_une(ARTICLES){magnet}{doublons}{0,2}>
								<li class="item"><INCLURE{fond=inclure/resume/article_ligne,id_article,
									coupe=300,
									largeur_logo=60,
									logo_rubrique=oui} />
								</li>
							</BOUCLE_une>
							</ul>
						</div>
					</div>
				</B_une>
			</div>
		</div>
	</div>
</div>
