[(#REM) 

  ### /!\ boucle POUR (spip Bonux) ###
  
  Parametres :
  - datas : tableau de donnees cle=>valeur
  - defaut : valeur par defaut si pas présente dans l'environnement
  - valeur_forcee : valeur utilisee meme si une valeur est dans l'environnement
  
  Exemple d'appel :
	[(#SAISIE{radio, afficher_liste,
		label=<:plugin:afficher_liste:>,
		explication=<:plugin:explication_afficher_liste:>,
		datas=#ARRAY{
			cle1,valeur1,
			cle2,valeur2,
			cle3,valeur3}})]
]

[(#REM) datas peut être une chaine qu'on sait décomposer ]
[(#REM) datas peut être une chaine qu'on sait décomposer ]
#SET{datas, #ENV*{datas}|saisies_chaine2tableau}

[(#REM) defaut peut être une chaine (plusieurs valeurs ou pas) qu'on sait décomposer ]
#SET{defaut, #ENV{defaut}|saisies_chaine2tableau}

[(#REM) valeur doit être un tableau ! ]
#SET{valeur, #ENV{valeur}|saisies_valeur2tableau}



[(#REM) lorsque qu'on donne un 'disabled' qui est une chaine,
	il faut la transformer en tableau. Ce tableau est vide si la chaine valait ''
	sinon une clé 0 serait considérée disabled à tord
]
#SET{disabled,#ENV{disable}}
[(#GET{disabled}|is_string|oui)
	[(#GET{disabled}|strlen|non) #SET{disabled,#ARRAY} ]
	[(#GET{disabled}|oui) #SET{disabled,#ARRAY|push{#GET{disabled}}} ]
]

#CACHE{0}
<B_taches>

<div class="liste-objets">
<!--<caption><strong class="caption"><strong>#GRAND_TOTAL</strong> <:benevolat_tache:taches:></strong></caption>-->
<table class="table table-striped">
<!--<thead>
<tr class="first_row">
<th class="action" scope="col">&nbsp;</th>
<th class="titre principale" scope="col"><:benevolat_tache:tache:></th>
</tr>
</thead>-->
<tbody>
	    <BOUCLE_taches(BENEVOLAT_TACHES){public=1}{fini=0}{!par date_creation}>
	    <tr>
			<td class="action"><input type="checkbox" name="#ENV{nom}[]" class="checkbox" id="champ_#ENV{nom}_[(#ID_BENEVOLAT_TACHE)]"[ (#ID_BENEVOLAT_TACHE|in_array{#ENV{valeur_forcee,#GET{valeur,#GET{defaut}}}}|oui)checked="checked"] value="[(#ID_BENEVOLAT_TACHE)]"[(#ID_BENEVOLAT_TACHE|in_array{#GET{disabled}}|oui) disabled="disabled"] /></td>
				<td class="nom">
				#BLOC_TITRE
					#NOM

				#BLOC_DEBUT
					<div class="detail">#DETAILS</div>
							<div class="agenda">#DUREE [ - (#REGULARITE) ][- (#ECHEANCE)]</div>
							[<div class="competence"><span class="labels"><:benevolat_tache:competence:> : </span>(#COMPETENCE)</div>]
							[<div class="nb_personne"><span class="labels">Nombre de personnes souhaité : </span>(#NB_PERSONNE)</div>]
				#BLOC_FIN
				</td>
				
			
	    </tr>
	    </BOUCLE_taches>
</tbody>
</table>
</div>

</B_taches>
<:benevolat_tache:aucune_tache:>
<//B_taches>



