<B_sous_rubriques_idee>
<BOUCLE_sous_rubriques_idee(RUBRIQUES) {id_rubrique=13}{tout}>
<B_articles_idee>
    <h3>Liste des idées</h3>
<div class="liste articles">
             #ANCRE_PAGINATION
            <ul class="liste-items idees">
        <BOUCLE_articles_idee(ARTICLES){id_rubrique}{pagination 5}{par date}{inverse}>
            <li><a href='#URL_ARTICLE'>#TITRE</a>[ - <span class="auteurs">(#LESAUTEURS)</span>][ - <span class="date">(#DATE|affdate_court)</span>]</li>
        </BOUCLE_articles_idee>
    </ul>
    [<p class="pagination">(#PAGINATION)</p>]
</div>
</B_articles_idee>
</BOUCLE_sous_rubriques_idee>
</B_sous_rubriques_idee>
