<B_newsletter>
<div id="derniere_newsletter">
<h4>Derni&egrave;re infolettre</h4>
<div class="cadre">
<BOUCLE_newsletter(NEWSLETTERS){!titre_mot=discrete}{statut=publie}{0,1}{par date}{inverse}>
[<div class="logo"><a href="#URL_NEWSLETTER">(#LOGO_NEWSLETTER|image_reduire{50,50})</div>]
<div class="titre"><a href="#URL_NEWSLETTER">#TITRE</a>[ <span class="date">(#DATE|affdate_court)</span>]</div>
</BOUCLE_newsletter>
[<div class="lien"><a href="(#URL_PAGE{newsletters})">Consulter toutes les infolettres</a></div>]
</div>
</div>
</B_newsletter>
