[(#REM) <!-- Plan du site par rubrique --> ]
<BOUCLE_secteurs(RUBRIQUES){id_rubrique}{par num titre, titre}>
<div class="explorateur">
<div class="arbre_a_dossier col-md-3">
<ul class="nav nav-list">

	[(#REM) <!-- Les articles des rubriques non specialisees --> ]
	
		<li>
		<a href="[(#SELF)]&id_rubrique_explore=#ID_RUBRIQUE" class="ajax[(#ID_RUBRIQUE|=={#ENV{id_rubrique_explore,#ID_RUBRIQUE}}|oui) on]" >#TITRE</a>
		<B_rub>
			<ul class="nav">
			<BOUCLE_rub(RUBRIQUES){id_parent}{par num titre, titre}{tout}>
				<li>	
				<a href="[(#SELF|parametre_url{'id_rubrique_explore',#ID_RUBRIQUE})]" class="ajax[(#ID_RUBRIQUE|=={#ENV{id_rubrique_explore}}|oui) on]">#TITRE</a>
						<BOUCLErub2(BOUCLE_rub)></BOUCLErub2>
				</li>
			</BOUCLE_rub>
			</ul>
		</B_rub>
		
		</li>
</ul>
</div>
<script type="text/javascript">
$(document).ready(function() {
	
	$(".arbre_a_dossier ul.nav-list li:has(ul)>a").each(function() {
		$(this).before('<span class="puce_deplier">&nbsp;</span>');
		})
	$(".arbre_a_dossier ul.nav-list li div:has(ul)>a").each(function() {
		$(this).before('<span class="puce_deplier est_deplie">&nbsp;</span>');
		})
	$(".arbre_a_dossier ul.nav-list ul").each(function() {
		$('ul',this).css("display", "none");
		$('ul:has("a.on")',this).css("display", "block");
		});
	
	$(".arbre_a_dossier ul.nav-list li:has(a.on)").each(function() {
		$('li:has(a.on) span.puce_deplier',$(this)).addClass('est_deplie');
		})


	$(".arbre_a_dossier ul.nav-list .puce_deplier").click(function() {
		li_parent=$(this).parent();
		if($(this).hasClass("est_deplie")){
			$(li_parent).children('ul').slideUp('fast');
		}
		else
			$(li_parent).children('ul').slideDown();
		$(this).toggleClass("est_deplie")
		//$(li_parent).toggleClass("ouverte")
		});



		
	});


</script>
#SET{docs,''}
<div class="feuillage col-md-9">
	<div class="inner">
		#SET{tri_sens_bool,''}
		[(#SET{image_sens,images/sens_asc.png})]
		[(#ENV{tri_sens}|=={desc}|oui)
			#SET{image_sens,images/sens_asc.png}
			#SET{tri_sens,asc}
			#SET{tri_sens_bool,1}
			]
		[(#ENV{tri_sens}|=={asc}|oui)
			#SET{image_sens,images/sens_desc.png}
			#SET{tri_sens,desc}
			]
		
		
			<div class="tri">Trier par 
			[(#ENV{tri_sens}|non)#SET{tri_sens,'asc'}]
			<a href="[(#SELF|parametre_url{'tri','date'}|parametre_url{'tri_sens',#GET{tri_sens}})]" class="ajax[ on(#ENV{tri,'date'}|=={date}|oui)]">date[(#ENV{tri,'date'}|=={date}|oui) [<img src="(#CHEMIN{#GET{image_sens}})"/>]]</a>, 
			[(#ENV{tri_sens}|non)#SET{tri_sens,'desc'}]
			<a href="[(#SELF|parametre_url{'tri','titre'}|parametre_url{'tri_sens',#GET{tri_sens}})]" class="ajax[ on(#ENV{tri,'date'}|=={titre}|oui)]">titre[(#ENV{tri,'date'}|=={titre}|oui) [<img src="(#CHEMIN{#GET{image_sens}})"/>]]</a></div>
		
<B_dossier>
<div id="documents_joints_rubrique" class="documents_joints_rubrique liste portfolio documents">
<ul class="liste-items">	
<BOUCLE_dossier(RUBRIQUES){id_parent=#ENV{id_rubrique_explore,#ID_RUBRIQUE}}{par #ENV{tri,'date'}}{inverse #GET{tri_sens_bool}}{tous}>
	<li class="item"><a href="[(#SELF|parametre_url{'id_rubrique_explore',#ID_RUBRIQUE})]" class="ajax">#TITRE</a></li>
</BOUCLE_dossier>	
</ul>
</div> <!-- Fin portfolio -->
#SET{docs,1}


	
</B_dossier>

#SET{tab_docart,#ARRAY{}}
<BOUCLE_documents_res(DOCUMENTS){id_rubrique = #ENV{id_rubrique_explore,#ID_RUBRIQUE}}{doublons}{!par date}>#SET{tab_docart,#GET{tab_docart}|push{#ARRAY{'objet','document','id',#ID_DOCUMENT,'date',#DATE,'titre',#TITRE}}</BOUCLE_documents_res>
<BOUCLE_articles_res(ARTICLES){id_rubrique = #ENV{id_rubrique_explore,#ID_RUBRIQUE}}{doublons}{!par date}>#SET{tab_docart,#GET{tab_docart}|push{#ARRAY{'objet','article','id',#ID_ARTICLE,'date',#DATE,'titre',#TITRE}}}</BOUCLE_articles_res>
<BOUCLE_album_res(ALBUMS){id_rubrique = #ENV{id_rubrique_explore,#ID_RUBRIQUE}}{doublons}{!par date}>#SET{tab_docart,#GET{tab_docart}|push{#ARRAY{'objet','album','id',#ID_ALBUM,'date',#DATE,'titre',#TITRE}}}</BOUCLE_album_res>
#SET{tab_docart,#GET{tab_docart}|tri_docart{#ENV{tri,'date'},#GET{tri_sens_bool}}}


<B_documentarts_res>

	
	<div id="documents_joints_article" class="documents_joints_article liste portfolio documents">	
	<ul class="liste-items">
		<BOUCLE_documentarts_res(POUR){tableau #GET{tab_docart}}>
			<li>
				[(#VALEUR|table_valeur{'objet'}|=={"document"}|oui)
				[(#INCLURE{fond=inclure/resume/document_liste,id_document=#VALEUR|table_valeur{'id'}})]]
				[(#VALEUR|table_valeur{'objet'}|=={"article"}|oui)
				[(#INCLURE{fond=inclure/resume/document_fichier_article,id_article=#VALEUR|table_valeur{'id'}})]				]
				[(#VALEUR|table_valeur{'objet'}|=={"album"}|oui)
				[(#INCLURE{fond=inclure/resume/album_document,id_album=#VALEUR|table_valeur{'id'}})]]
			</li>
		</BOUCLE_documentarts_res>
		</ul>
	</div> <!-- Fin portfolio -->
	#SET{docs,1}
</B_documentarts_res>



</div>

[(#GET{docs}|non)<p>Aucun document dans ce dossier</p>]

[<div class="bloc_formulaire">
#BLOC_TITRE
Ajouter un document
#BLOC_DEBUT
<div class="formulaire ajax">
(#FORMULAIRE_UPLOAD{rubrique,#ENV{id_rubrique_explore,#ID_RUBRIQUE}})
</div>
#BLOC_FIN
</div>]

</div>
</div>

</BOUCLE_secteurs>
