[(#REM)
	Head standard de toutes les pages ; les elements specifiques
	(title, description) figurent dans le squelette article.html
]
[(#REM) Preciser le charset ]
<meta http-equiv="Content-Type" content="text/html; charset=#CHARSET" />

[(#REM) Fierement fabrique avec SPIP ]
<meta name="generator" content="SPIP[ (#SPIP_VERSION)]" />
<meta name="distribution" content="global" />

[(#REM) Lien vers le flux RSS du site ]
[<link rel="alternate" type="application/rss+xml" title="<:syndiquer_site:>" href="(#URL_PAGE{backend})" />]
<meta name="viewport" content="width=device-width, initial-scale=1.0">

[(#REM) Balise permettant aux plugins d'inserer des fichiers CSS ]
#INSERT_HEAD_CSS

[(#REM) Feuille de style CSS pour l'impression, n'existe pas par defaut ]
[<link rel="stylesheet" href="(#CHEMIN{css/print.css})" type="text/css" media="print" />]

[(#REM) Feuille de style personnalisee pour surcharger les precedentes
]
[<link rel="stylesheet" href="(#CHEMIN{css/perso.css})" type="text/css" />]

#INSERT_HEAD

[<script src="(#CHEMIN{js/scripts.js})" type="text/javascript"></script>]
[<link rel="icon" type="image/x-icon" href="(#CHEMIN{favicon.ico})" />
[<link rel="shortcut icon" type="image/x-icon" href="(#CHEMIN{favicon.ico})" />]]




