[(#SESSION{simplasso_statut}|oui)
<div class="text-right">
	[(#SET{info_adherent,#INFOS_ADHERENT})]
	[<a href="[(#URL_PAGE{espace_adherent})]"><i class="fa fa-user"></i>  (#GET{info_adherent}|table_valeur{nom})</a>]
	[ | <a href="(#URL_LOGOUT{#URL_SITE_SPIP})"><i class="fa fa-sign-out-alt"></i> Se d&eacute;connecter</a>]
</div>
]