<B_mois>
<ul class="mini_agenda">
<BOUCLE_mois(EVENEMENTS){id_mot=5}{age<0}{par date}{0,2}>
	<li>
	<BOUCLE_articles(ARTICLES) {id_article}>
		<div class="logo"><a href="#URL_ARTICLE" rel="bookmark">[(#ENV{logo_rubrique,' '}|?{#LOGO_ARTICLE_RUBRIQUE,#LOGO_ARTICLE}|sinon{#CHEMIN{images/logo.png}}|image_reduire{50,50})]</a></div>
	</BOUCLE_articles>	
	<div class="date">[(#DATE_DEBUT|affdate_court)][ (#HORAIRE|oui)[(#DATE_DEBUT|heures) h][(#DATE_DEBUT|minutes|!={00}|oui)[(#DATE_DEBUT|minutes)]]]</div>
	<div class="titre">#TITRE</div>
	<div class="lieu">#LIEU</div>
	<div class="descriptif">#DESCRIPTIF</div>
	[<div class="information"><a href="(#URL_ARTICLE)">En savoir plus</a></div>]
	[(#SET{date_debut,#DATE_DEBUT})]
	</li>
</BOUCLE_mois>
</ul>
<div class="lien_agenda"><a href="[(#URL_PAGE{agenda})]">Voir les autres évenements</a></div>
</B_mois>
<//B_mois>
