<div class="navbar navbar-expand-lg" id="nav">
	<button id="responsive-menu-button" href="#sidr-main" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="texte">Menu </span><i class="fa fa-bars"></i>
	</button>
	<div class="menu menu-container navbar-inner collapse navbar-collapse">
		[(#INCLURE{fond=inclure/menu, env, identifiant=barrenav})]
	</div>
</div>
