<div id="outils">
    <div id="bouton_imprimer">
        <ul>
           <li> <a class="btn btn-print" data-placement="left" onclick="window.print()">
                <i class="fa fa-print"></i></a>
           </li>
        </ul>
    </div>
</div>