<B_rubriques>
<div class="well">
	<ul class="nav nav-list">
	<li class="nav-header"><:rubriques:></li>
	<BOUCLE_rubriques(RUBRIQUES) {racine} {par num titre, titre}>
		<li class="#EXPOSE{active}">
			<a href="#URL_RUBRIQUE"[ class="(#EXPOSE)"]>[(#TITRE|couper{80})]</a>
			<B_sous_rubriques>
			<ul class="nav nav-list">
				<BOUCLE_sous_rubriques(RUBRIQUES) {id_parent} {par num titre, titre}><BOUCLE_test_expose(RUBRIQUES) {id_enfant}>#EXPOSE{' '}</BOUCLE_test_expose>
					<li class="#EXPOSE{active}"><a href="#URL_RUBRIQUE"[ class="(#EXPOSE)"]>[(#TITRE|couper{80})]</a><BOUCLE_re(BOUCLE_sous_rubriques)></BOUCLE_re>	</li>
				</B_test_expose></BOUCLE_sous_rubriques>
			</ul>
			</B_sous_rubriques>
		</li>
	</BOUCLE_rubriques>
	</ul>
</div>
</B_rubriques>
