<!-- sociaux -->
<div class="sociaux">
	<ul class="sociaux-list">[(#SET{rezo,[(#PIPELINE{sociaux_lister,#ARRAY{args,#ARRAY{skel,#SQUELETTE,date,#ENV**{date}},data,#ARRAY}})]})]
		<BOUCLE_rezo (DATA) {source tableau,#GET{rezo}}>[(#CONFIG{sociaux/#CLE}|oui)
		<li><a href="[(#CLE|=={mail}|oui)mailto:][(#CLE|=={skype}|oui)callto:]#CONFIG{sociaux/#CLE}" class="#CLE[(#CLE|in_array{#LISTE{rss,mail,whatsapp,skype}}|non)spip_out external]">
			<span class="socicon">
			[(#CLE=={mail}|oui)<i class="fa fa-at"></i>]
			[(#CLE=={mail}|non)
				[(#CLE=={rss}|oui)<i class="fa fa-rss"></i>]
				[(#CLE=={rss}|non)
				[(#CONFIG{sociaux/css}|oui)<i class="fab fa-#CLE"></i>]
				]
			]
			<span class="name">[(#VALEUR)]</span></span></a></li>]
		</BOUCLE_rezo>
	</ul>
</div>
<!-- #sociaux -->