<BOUCLE_tache(BENEVOLAT_TACHES){id_benevolat_tache}>

[<div class="champ contenu_details[ (#DETAILS*|strlen|?{'',vide})]">
	<label><:benevolat_tache:label_details:> : </label>
	<span dir='#LANG_DIR' class='#EDIT{details} details'>(#DETAILS)</span>
</div>]

[<div class="champ contenu_duree[ (#DUREE*|strlen|?{'',vide})]">
	<label><:benevolat_tache:label_duree:> : </label>
	<span dir='#LANG_DIR' class='#EDIT{duree} duree'>(#DUREE)</span>
</div>]

[<div class="champ contenu_regularite[ (#REGULARITE*|strlen|?{'',vide})]">
	<label><:benevolat_tache:label_regularite:> : </label>
	<span dir='#LANG_DIR' class='#EDIT{regularite} regularite'>(#REGULARITE)</span>
</div>]

[<div class="champ contenu_echeance[ (#ECHEANCE*|strlen|?{'',vide})]">
	<label><:benevolat_tache:label_echeance:> : </label>
	<span dir='#LANG_DIR' class='#EDIT{echeance} echeance'>(#ECHEANCE)</span>
</div>]

[<div class="champ contenu_competence[ (#COMPETENCE*|strlen|?{'',vide})]">
	<label><:benevolat_tache:label_competence:> : </label>
	<span dir='#LANG_DIR' class='#EDIT{competence} competence'>(#COMPETENCE)</span>
</div>]

[<div class="champ contenu_nb_personne[ (#NB_PERSONNE*|strlen|?{'',vide})]">
	<label><:benevolat_tache:label_nb_personne:> : </label>
	<span dir='#LANG_DIR' class='#EDIT{nb_personne} nb_personne'>(#NB_PERSONNE)</span>
</div>]

[<div class="champ contenu_commentaire[ (#COMMENTAIRE*|strlen|?{'',vide})]">
	<label><:benevolat_tache:label_commentaire:> : </label>
	<span dir='#LANG_DIR' class='#EDIT{commentaire} commentaire'>(#COMMENTAIRE)</span>
</div>]


[<div class="champ">(#PUBLIC|=={1}|oui)Cette tâche est visible par tous</div>]
[<div class="champ">(#FINI|=={1}|oui)Tâche accomplie</div>]

	
	<h3>Participants</h3>
	
	
		<B_tache_ben>
		<table class="table">
		<BOUCLE_tache_ben(BENEVOLAT_PARTICIPANTS){id_benevolat_tache}>
			#SET{tab_participant,#ID_AUTEUR|benevolat_participant_informations{#NOM,#COURRIEL,#TELEPHONE}}
			<tr>
			<td>
				[(#GET{tab_participant}|table_valeur{id_auteur}|oui)<a href=#URL_ECRIRE{asso_membre,id_auteur=#GET{tab_participant}|table_valeur{id_auteur}}>[(#GET{tab_participant}|table_valeur{nom})]</a>]
				[(#GET{tab_participant}|table_valeur{id_auteur}|non)[(#GET{tab_participant}|table_valeur{nom})]]
			</td>
			<td><a href="mailto:[(#GET{tab_participant}|table_valeur{courriel})]">[(#GET{tab_participant}|table_valeur{courriel})]</a></td>
			<td>[(#GET{tab_participant}|table_valeur{telephone})]</td>
			<td>[(#DATE_INSCRIPTION)]</td>
			<td><a class="ajax nohistory nocache btn btn-small" href="[(#URL_ACTION_AUTEUR{desinscrire_benevolat_participant,#ID_BENEVOLAT_PARTICIPANT,#SELF})]"><img src="[(#CHEMIN_IMAGE{images/ico_partiper.png})]" alt="<:benevolat:desincrire:>" /></a></td>
			</tr>
		</BOUCLE_tache_ben>
		</table>
		</B_tache_ben>
		<p>Aucun participant enregistré</p>
		<//B_tache_ben>

	<h4>Ajouter des participants</h4>
	[(#FORMULAIRE_INSCRIRE_PARTICIPANT{'new',#ID_BENEVOLAT_TACHE})]



</BOUCLE_tache>