@import "functions";
@import "variables_perso";
@import "variables";
@import "mixins";


#content {
#explorateur_fichier{ .inner{background-color:#FFF;border-radius:5px;padding:1em; margin:1em;} }

.explorateur {
  font-weight: normal;
	span.puce_deplier { position:absolute;display:inline-block;width:11px;height:16px;background: url(../images/menu-collapsed.png) no-repeat 0 4px ; }
	span.est_deplie { background-image: url(../images/menu-expanded.png); }
	.logo { margin: 0 1em 0.5em 0;}
	a { color: $gris-fonce;}
	a.on { font-weight: bold;}
	.arbre_a_dossier{margin:0;padding:0;border-right:2px #F1F1F1 solid;
		ul  { padding:0 ;}
		ul li { padding:0 ;position:relative;
			width: 100%;display: block;
			a{background: transparent url('../images/dossier-10.png') 0px 6px no-repeat; padding:0 0 0 15px;margin: 0 0 0 12px;display:inline-block;}
		}
	
		ul ul { background: transparent url('../images/fond_arbo.png') 3px top repeat-y;padding:0;
		
		li { padding:0 0 0 12px;margin:0.25em 0;
			a{background: transparent url('../images/dossier-10.png') 0px 6px no-repeat; padding:0 0 0 15px;margin: 0 0 0 12px;}
		}
		
		 }


	}
	.avertissement{
		legend{display:none;}
	}

.bloc_formulaire{margin:2em 1em;}
.tri{margin-top:0}

}
}


.feuillage{margin: 0;padding:0 1em;min-height:500px;background-color:#FFF;border-radius:10px;
  .liste-items .item { clear:none;}
  ul.liste-items {
	.bt-telecharger{ background-color:#F1F1F1; font-size:0.9em; color:$gris-fonce; padding: 0.25em 0.5em;border-radius: 0.25em;}
	.bt-telecharger:hover{ background-color:$gris-clair;}
	.lien{ font-weight:normal; font-size:0.9em;}
	.doctexte {
	  .titre{margin:0;}
	  .descriptif_cplt{ font-size:0.9em;margin: 0em 1em;color:#555;
		.date_publication{ color:$orange;}
		p { margin:0;line-height:1.3; }
	  }
	}

  }
  ul.liste-items>li{margin-bottom:1.5em;}
  .documents_joints_rubrique{
	.liste-items .item{background: transparent url('../images/dossier-32.png') center left no-repeat;}
  }
  .documents_joints_article{
	div.titre {font-weight:bold;margin-bottom:0.5em;}
	.liste-items .item { border-top: none 0px;font-size:0.9em;text-align:center;width:8em;margin:0;padding:0;display:inline-block;font-weight:normal;vertical-align:top;}
	.liste-items .item a{font-weight:normal;line-height:1.1}
	.liste-items .item .entry.document .entry-title {font-weight:normal;line-height:1.15}
	.liste-items .item .spip_logos{ margin:0 auto;padding:0;display:block;float:none;width:100%;text-align:center;}
	.liste-items .item .publication{ display:none;}
	.liste-items .item .publication{ display:none;}
  }

  .entry.document .spip_logos{max-width:5em;max-height:5em;vertical-align:top;}
  .entry.document .spip_logos img{max-width:50px;height:auto!important;}

}


