@import "functions";
@import "scss/variables";
@import "mixins";




ul.menuder{

  a { display: block; text-decoration: none;padding:0.5em; border:none 0; color:$gray-800; }
  a:hover { background-color:$yellow;border-radius:0.5em; }
  a:active { background-color:$yellow; }
  > li { position: relative;display:block;float: left; padding: 0 0.5em;


    ul { position: absolute; font-size: 0.9em; border-radius:0.25em; background-color:#dfdbc0;left: -999em; height: auto; width: 15em;  margin: 0; border-width: .25em; font-weight: normal; z-index:200; }
    ul  { box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7); }
    ul a { padding: 0.5em 1em; }
    ul ul { margin: 0; }
    ul ul li { padding: 0; }
    ul ul li a:hover { background-color:$yellow; }
    li.active > a { box-shadow: none; }
  }


  li.active > a{ font-weight: normal;}

  a.daddy { }

  ul {   margin: 0; padding: 0; list-style: none; text-align: left; }



  > li:hover ul ul,
  > li:hover ul ul ul,
  > li:hover ul ul ul ul,
  > li.hover ul ul,
  > li.hover ul ul ul,
  > li.hover ul ul ul ul { left: -999em; }

  > li:hover ul,
  > li li:hover ul,
  > li li li:hover ul,
  > li li li li:hover ul { left: auto; }

  > li .hover ul,
  > li li.hover ul,
  > li li li.hover ul,
  > li li li li.hover ul { left: auto; }






}