@import "functions";
@import "variables";
@import "mixins";
@import "variables_perso";

$nl-font-family-sans-serif : calibri,$font-family-sans-serif;

#outlook a {padding: 0;}
body {width: 100% !important;}
body {margin: 0;padding: 0;}
p{ line-height: 1.5; margin: 0.5em 0; font-family:$nl-font-family-sans-serif; }
div{  font-family:$nl-font-family-sans-serif;line-height: 1.5; }
a{font-family:$nl-font-family-sans-serif; }
ul.spip{
  margin: 0.5em 1em;
  li{margin: 0.25em 1em; font-family:$nl-font-family-sans-serif;}
}
img {border: none;font-size: 16px;font-weight: bold;height: auto;line-height: 100%;outline: none;text-decoration: none;text-transform: capitalize;-ms-interpolation-mode: bicubic;max-width:100%;}
img#headerImage{font-size:28px;}
#backgroundTable {height: 100% !important;margin: 0;padding: 0;width: 100% !important;}
body, .backgroundTable {background-color: #FAFAFA;}
#templateContainer {border: 1px solid #DDDDDD;}
h1,.h1,h2,.h2,h3,.h3,h4,.h4 {color: #202020;display: block;font-family:$nl-font-family-sans-serif;font-size: 22px;font-weight: bold;line-height: 100%;margin-bottom: 10px;text-align: left;}
h1,.h1 {font-size: 28px;color:$linkColor;font-family:$nl-font-family-sans-serif;}
h2,.h2 {font-size: 24px;color:$linkColor;font-family:$nl-font-family-sans-serif;}
h3,.h3 {font-size: 18px;color:$linkColor;font-family:$nl-font-family-sans-serif;}
h4,.h4 {font-size: 16px;font-family:$nl-font-family-sans-serif;}
h5,.h5 {font-size: 14px;font-family:$nl-font-family-sans-serif;}
h6,.h6 {font-size: 13px;font-family:$nl-font-family-sans-serif;}
#templatePreheader {background-color: #FAFAFA;}
.preheaderContent div {color: #303030;font-size: 12px;line-height: 100%;text-align: left;}
.preheaderContent div a:link, .preheaderContent div a:visited {color: $linkColor;font-weight: normal;text-decoration: underline;}
.preheaderContent div img {height: auto;max-width: 600px;}
#templateHeader {}
.headerContent {
  padding:10px;
  .titre{
  color: #202020;font-family: $nl-font-family-sans-serif;font-size: 24px;font-weight: bold;line-height: 100%;padding: 1em;text-align: center;vertical-align: middle;
  }
}
.headerContent a:link, .headerContent a:visited {color: $linkColor;font-weight: normal;text-decoration: underline;}
#headerImage {height: auto;max-width: 600px !important;}
#templateContainer{
  background-color: #FAFAFA;
  .texte{ padding :1em 2em;}


}

.bodyContent div, .bodyContent p{color: #303030;font-family: $nl-font-family-sans-serif;font-size: 16px;line-height:1.5;text-align: left;}
.bodyContent div a:link, .bodyContent div a:visited {color: $linkColor;font-weight: normal;text-decoration: underline;}
.bodyContent div .spip_documents_center { display: table; clear: both; margin: 1em auto; }
.bodyContent div .spip_documents_left { Margin-right: 15px; margin-bottom: 5px; }
.bodyContent div .spip_documents_right { Margin-right: 15px;margin-left: 15px; margin-bottom: 5px; }
.bodyContent img {display: inline;margin-bottom: 10px;}
#templateFooter {background-color: #EFEFEF;border-top: 0;}
.footerContent div {color: #707070;line-height: 125%;text-align: center;}


#social{
  font-family: $nl-font-family-sans-serif;
  background-color: #eee;border: 1px solid #EFEFEF;
  a{ text-decoration:none;}
  img {vertical-align:middle;}
  div {text-align: center;}
}
#utility {background-color: #EFEFEF;border-top: 1px solid #EFEFEF;}
#utility div {text-align: center;}
img.puce {margin-bottom: 0}
.spip_code, .spip_cadre {color: #606060;font-family: Courier,"Courier New",monospace;}
textarea.spip_cadre {width: 100%;}
.coloration_code ol {list-style: none;}


@media only screen and (max-width: 640px) {
  html,body {width: 100% !important;}
  img {max-width: 100% !important;}
  #templatePreheader {width: 100% !important;}
  .preheaderContent,.bodyContent,.footerContent {padding: 0 !important;}
  #templateContainer {width: 100% !important;border: 0 !important;}
  #templateHeader {width: 100% !important;border: 0 !important;}
  #templateBody {width: 100% !important;}
  #templateFooter {width: 100% !important;}
  #canspamBar {width: auto !important;}
  .archive_link {max-width: 50%}
  .padding {padding-left:0 !important;padding-right:0 !important;}
  .text {font-size: 16px !important;color: #101010 !important;}
}



.style_standard{
  color: #202020; font-family: $nl-font-family-sans-serif;  line-height: 170%; text-align:justify;
}
.style_emphase{
  @extend .style_standard;
  font-weight:700;
}
.encadre_blanc{
  border:$white solid 3px;padding:0.5em 1em;
}

.texte_centre{
  text-align: center;
}

.separateur_en_bas{
  padding-bottom: 2em;
  margin-bottom: 0;
  border-bottom: $linkColor 4px solid;
}

.separateur_en_haut{
  padding-top: 2em;
  margin-top: 0;
  border-top: $linkColor 4px solid;
}


.lien_colore{
  color: $vertpomme;
  text-decoration: underline;
}

.texte-centre{
  text-align:center;
}

.cimulti_colonnes{
  position:relative;
  clear:both;

}

.col-sm-6{
  float:left;
  width:50%;
}

.col-sm-4{
  float:left;
  width:33%;
}


.col-sm-3{
  float:left;
  width:25%;
}


.p-2{
  padding:1em;
}

.image_left{
  margin-right:1em;
}

.image_right{
  margin-left:1em;
}

.nl_article{
  .texte{
    min-height:3em;
  }
}

.nl_article_horizontal{
 h3{
   margin-top:0;
 }
}


.nettoyeur{
  clear:both;
}

.nettoyeur::after {
  content: "";
  clear: both;
  display: table;
}
.gros_titre{
  .titre_bloc{
    font-size: 24px;color:$brand-warning;
  }
}

.spip_documents_left{
  margin-right: 1em;
}

.spip_documents_right{
  margin-left: 1em;
}

@import "newsletter_glinglin";