#glinglin{
  h3.spip{margin:0.25em 0; font-size:1.2em;font-weight: bold;}
  h4.spip{margin:0.25em 0;}
  .alerte{display:inline-block; padding: 0.5em; background-color: #f0ad4e; color:white; }
  a.gros_bouton{ display:block; text-align: center; padding: 0.5em;width: 100%; background-color: $vertpomme; color:white;font-size:1.1em;font-weight: bold; text-decoration: none; }
  .glinglin_date{ font-weight: bold; display: inline-block; }
  .fin{ }
  .glinglin_lieu{display: inline-block;  }
  p{ font-size:0.9em; }
  hr{margin:0.5em; border:#EEE solid 1px;}
}