@import "functions";
@import "scss/variables";
@import "mixins";
@import "variables_perso";



body { background:url('../images/fond.png') repeat 0 0; }

a { color:$orange;}
a:hover {color:$rouge;}
a:active {}


h1,h2,h3,h4,h5 {font-family: 'Droid Sans', sans-serif;font-weight: 700;}
.secondary h1,.secondary h2,.secondary h3,.secondary h4,.secondary h5 {font-family: 'Droid Sans', sans-serif;}
.h3, .h3-like, .secondary .h2, .secondary .h2-like, .secondary h2, h3 {font-size:1.2rem;}
h2{font-size: 1.3em;}
h3{font-size: 1.2em;}
h4{font-size: 1.1em;}

.page{ padding:0;background:url('../images/fond_entete_page.png') repeat-x 0 0;}
.formulaire_spip .boutons {text-align: left;}
ul.liste-items { margin:0.5em  ;padding:0;}

input{
  max-width:100%;
}

//#########################################################
//## Header



#entete{
  header {
    position:relative;background:transparent; height: 130px; z-index: 10;
    .accueil { padding:0; }
    h1 { margin: 0; padding:1em 0;
      img{margin:0}
    }
    #header{
      position: relative;
      z-index:100;
    }
  }

  nav{
    z-index: 101;
    position: absolute;
    top: 10px;
    right: 0;
    width: 100%;
 }

}

#nav{
  position:absolute; margin-left:9px; margin-bottom:1em;
  padding:1em 0 0 0;  right: 0; top:1em;

  .navbar {padding:0.5rem 0.25em;float:right;}
  .navbar-inverse .navbar-inner{ background-image: linear-gradient(to bottom, #999, #aaa095);width: 100%;}


}



//#########################################################
//## content



.corp {background:#f5eee9 none no-repeat 0 0;min-height:500px;border-top-left-radius:0.5em;border-top-right-radius:0.5em;padding:1em 0;}
.corp div.marge{padding:1em ;}



#breadcrumb{
  font-size:0.9em;
  ul.breadcrumb{ background-color:transparent; padding:0 0 0.5em 0;
    a{color:#999977;}
    a:hover{background-color:transparent;}
  }

}



#content {
  min-height: 25em;
  margin-bottom: 8em;
  p { margin:1em 0; }
  img { max-width:100%; }
  header.cartouche h1{ margin: 0 0 1em 0; }
  .columns-container td { padding:0.5em; }

  #alerte {
    .inner { background-color:$yellow;margin:1em 0 2em 0;border-radius:1em;padding:1em; }
    div.titre { font-weight:bold;color:$black;margin-bottom:0.5em;}
    p {margin-bottom:0.25em;}
  }

  .cartouche{
    .publication { display:none;}
    .postmeta { display:none;}
  }
  .inner { margin:1em 0 2em 0; }
  .bloc:last-child .inner { margin: 0; }
  .logo_sommaire { width:80px;float:right; }
  h1 { font-size:1.5em; }

  #articles_rubrique {
    p.publication { display:none; }
  }

  #epicerie {
    margin-bottom: 1em; border: none 0;
    .bloc {
      background-color:#e7e2de;border-radius: 0.5em; padding: 1em;
      .inner{margin:0;padding:0;}
      p{ margin : 0.25em;}
    }
  }

  .zoom { line-height:1.3;
    h3 {}
    ul.liste-items{
      margin:0 0.5em;padding:0;
      li { margin-bottom:1em; border:none 0;
        article{margin:0;}
        .entry-title {font-size:1.1em;margin:0 0 0.25em 0;line-height:1.4;}
        .logo { float:left; }
        .descriptif { }
      }
    }

  }
  .logo { margin:0 auto;}
  .liste-items article { margin: 1em 0 3em 0;}
  .liste-items .logo { margin:0 1em 0 0;}
  .liste-items .publication { display:none;}

  .bloc .inner {min-height: 15em;}
  .bloc:last-child .inner {margin-right:1.5em;}
  .derniers_documents .descriptif_cplt {display:none;}
  .articles h2{display:none;}
  .btn{text-shadow:none;font-weight:bold;}

  ul.mini_agenda { margin:0; list-style:none;
    li { margin:0; line-height:1.2; padding:0.5em 0;
      .logo { width:20%;float:right;margin-left:5%;
        img {max-width:100%;height:auto!important;}
      }
    }
    .date{font-weight:bold;color:$gray-700;}
    .titre{font-weight:bold;}
  }

  #actu{
    article { margin:0; line-height:1.2; padding:0.5em 0;
      .logo { width:80px;float:right;margin-left:10px;
        img {max-width:100%;height:auto!important;}
      }
    }
    .date{font-weight:bold;color:$gray-700;}
    .titre{font-weight:bold;}

  }
  .texte{position:relative;}
}


//#########################################################
//## aside


#aside {
  .inner { margin-top:1em; }

  .entry-title {margin-bottom:0.25em;}
  .nav{
    .on{background-color:$gray-300;}
  }

  .well {
    background-color:transparent;
    .nav-list li { border:0.5em;color:#999076}
    .nav-list li a{ border-radius:0.5em;color:#999076}
    .nav-list li a.on{ color:#FFF;text-shadow:none;font-weight:normal;}
    .nav-list li.nav-header{display:none;text-transform:none;font-size:1em;padding:0;color:$gray-500;font-weight:normal;}

    .liste-items { margin:0;}
    .liste-items li { border:0.5em;color:#999076;padding:0.15em 0;line-height:1.2;}
    .liste-items li a{ display:inline-block;border-radius:0.5em;color:#999076;padding:0.25em;}
    .liste-items li a.on{ text-shadow:none;}
    .h2{display:none;}

  }
  .muted{color:$gray-500;}

}



//#########################################################
//## extra

#extra {margin-top:1em;
  a { color:#58574b}
  ul {list-style:none;padding:0;margin:0}
  ul li{padding:0;margin:0}
  input.text { width: 84%; }

  h3 {font-size:1.1em;margin:0 0 0.25em 0;color:$gray-500;}
  h4 {margin:0 0 0.25em 0;color:$gray-700;}
  .formulaire_spip{ margin:0;font-size:1em;padding:0;
    .boutons { background-color:transparent;border-top: 0 none;}
  }
  .bloc { border-radius:0.5em;padding:1em;margin-bottom:2em;
    .formulaire_spip {background-color:transparent;}
  }
  .bloc{border-radius:0.5em;padding:1em;}
  #inscription_newsletter .bloc{ background-color:$bleucielclair;;
    ul { display:inline-block;padding: 0;margin:1em 0 0 0;vertical-align:bottom;}
    input.text { width: 90%; }
    .boutons { display:inline-block;margin:1em 0 ;padding: 0;vertical-align:bottom;}

  }
  #espace_adherent .bloc{ background-color:#d6e292; }
  #mini_agenda .bloc{ background-color:#f0e3e3;
    ul.mini_agenda { margin:0; list-style:none;
      li{ margin:0; line-height:1.2; padding:0.5em 0;
        .logo{ width:20%;float:right;margin-left:5%;
          img{max-width:100%;height:auto!important;}
        }
        .date{font-weight:bold;color:$gray-700;font-size:0.8em;}
        .titre{font-weight:bold;}
        .information{font-size:0.8em;}
      }

    }
  }

  #derniere_newsletter{
    .logo{ float:right;margin: 0 0 1em 1em; }
    .date{ display:block;font-size:0.9em; }
    .lien{ margin-top:0.5em; }
  }

  .formulaire_newsletter input.submit{ background-color:$bleuciel; }
  #espace_adherent input.submit{ background-color: $vertpomme;}

  li.editer_session {display:none;}
  #formulaire_login{
    input.password { width: 84%; }
  }
}



//#########################################################
//## footer

footer {	background-color:#d9d3cb;

  #footer{ background:#c6c0b3;padding-top:2em;border:none 0;margin: 0;


    border:none 0;padding:1.5em 2em;
    a{ color:$gray-700;}
    ul.menu-items{list-style:none;margin:0 0 0 0.5em;padding:0.5em;
      li {float:none;margin-top:0.5em;
        a {margin-top:0;margin-bottom:0;padding:0.25em 0;}
        ul{margin:0 0 0 0.5em;font-size:0.9em;
          li {margin-top:0;
            a {padding:0;}
          }
        }
      }
      li.active a {background-color:transparent;}
    }
    a:hover { background-color:transparent; color:$white; }
    h3 {color:$white;}
    #bloc_plan { text-align:left;
    }
    #bloc_amis {text-align:left; margin :0 ;
      ul{list-style:none;margin-left:1em;
        li {margin :1em 0;

        }
      }
    }
    #bloc_rss { margin :0 ;text-align:left;
      ul{list-style:none;margin-left:1em;font-size:0.9em;
        li.item {margin :0;border:0 none;padding:0;
          .entry {margin:0;}
        }
      }

    }



  }





  #semelle { font-size:0.8em;text-align:center;background:#9b9279;padding:0.5em 0;border:none 0;border-bottom-left-radius:0.5em;border-bottom-right-radius:0.5em;margin:0 0 1em 0 ;
    a { background-color:transparent; color:$white; }
  }
}

.sociaux .socicon{
  font-size: 1.6em;
  padding: 0.15em .4em;
}

.formulaire_recherche input.text{
  width:80%;
  display:inline-block;margin-top:1px;
}

#formulaire_login{
  legend{display:none;}
}

.rubrique_adherent {
  #content{

    div.bloc{
      .inner{	background-color:#f0e8e1;border-radius:0.5em;padding:1em;margin:1em 0 2em 0;}
    }
    .btn-explorer{margin:2em 0;}
    .doctexte{margin-left:40px;
      .descriptif_cplt { font-size:0.9em; }

    }
  }

}




.page_sommaire {
  #informations{ float:left;
    h3 {font-size:1.1em;margin:0 0 0.25em 0;}
    .inner {
      .bloc{ background-color:#f0e8e1;border-radius:0.5em;padding:1em;margin:0 0 3em 0;
        .spip_documents {float:right;display:block;}
        table.spip { width:auto;}
        table.spip tr td{border:none 0; }
        table.spip tr.odd td{ background-color:#eae2db; }
      }
    }
  }
}


.spip_logos{

  float:right;max-width:200px;margin-left:1em;
}


.bloc_formulaire {margin:1em 0;

  a { color:$gray-900;}
  td div.choix{text-align:center;}
  th  { line-height:1.2em}

}

.spip_documents{


}

.spip_doc_player{ margin-left: 0;margin-right: 0;text-align: left;
  .spip_doc_titre{ display:none; }
  .player {display:block; }
  .spip_doc_descriptif{margin:0.5em;padding:0;display: inline-block;}

}

.vue_icones{
  h2{display:none;}
}




.page_401 header.cartouche{display:none;}



.table_courriers{
  td{padding:0.5em 0;}
  td.date{font-size:0.9em;line-height:1.2;min-width:8em;vertical-align:top;padding:0.6em 1em 0.6em 0;}
  .logo{padding:0 0.5em;}

}



//#########################################################
//## Taches


#taches{
  table {
    .nom { width:50%; line-height:1.2em;

      .blocs_titre{
        a{color:#333;}
        a:hover{background-color:transparent;}
      }
      span.labels{font-size:0.85em;color:#666;}
      .detail{font-size:0.85em;margin:0.5em 1.5em;}
      .agenda{font-size:0.9em;margin:0.25em 1.5em;}
      .competence{font-size:0.9em;margin:0.25em 1.5em;}
      .nb_personne{font-size:0.9em;margin:0.25em 1.5em;}
    }

    .participant{ font-size:0.9em;
      ul{ list-style:none;margin:0;}
    }



    .inscription{ text-align:right;}


  }
  .formulaire_inscription_benevolat table {
    .nom { width:auto; }
    .action { width:15px; }
  }

}



.statut{ padding:0 0 0 20px;background:url('../images/happy.png') no-repeat top left;}
.statut_attention{ background:url('../images/unhappy.png') no-repeat top left;}




//#########################################################
//## Outils

#outils{
  position:absolute;margin-left:-120px;top:120px;height:0px;
  #socialShare>i{display:none;}
  ul{
    li{
      .glyphicon, [class^="socicon-"], [class*=" socicon-"]{font-size: 1.2em;}
    }
    list-style: none;
  }

  li.folder{
    .triangle-right {
      width: 0;
      height: 0;
      border-top: 50px solid transparent;
      border-left: 100px solid $gray-500;
      border-bottom: 50px solid transparent;
    }

  }

}

////////////responsive outils//////////////////

@media only screen and (max-width: 1300px) {
  #content  #outils{
    position: relative;
    margin-top: 3em;
    margin-left: 0;
    top: 0;
    height: auto;

    div { display: inline-block;
    }
    ul { list-style: none; display: inline-block;
      li{ display: inline-block;
        .glyphicon, [class^="socicon-"], [class*=" socicon-"]{font-size: 1.4em;}
      }
    }

  }

}

//#########################################################
//## Album




.album{
  .thumbnails{
    min-height: 100px;

    li{
      vertical-align: top;
      display: inline-block;
      .spip_logos{float:none;}
      figcaption{max-width: 200px;}
    }
  }

}





//////////// responsive //////////////////


@media (max-width: 768px) {

  #content img {max-width:100%; height:auto;}

  #entete{
    header {
      div.accueil img{ width:90%; margin:0 5%;height: auto;}
    }
  }

}