@import "functions";
@import "scss/variables";
@import "mixins";
@import "variables_perso";


//#########################################################
//## Page Sommaire



.page_sommaire {
#entete{
  header {
    position: relative;
    background: transparent url('../images/fond_entete_blanc.png') no-repeat 0 0;
    height: 200px;


    div.accueil {
      padding-left: 100px;
      padding-top: 35px;
    }

    div.herbe {
      position: absolute;
      bottom: 0;
      left: 115px;
      background: transparent url('../images/herbe.png') repeat-x left bottom;
      width: calc(100% - 115px);
      height: 85px;
      z-index: 5;
    }

    div.epi {
      position: absolute;
      bottom: 0;
      left: 0;
      background: transparent url('../images/epi.png') no-repeat 0 0;
      width: 115px;
      height: 125px;
      z-index: 6;
    }

    div.ensemble {
      position: absolute;
      bottom: 0;
      right: 0;
      background: transparent url('../images/ensemble.png') no-repeat 0 0;
      width: 593px;
      height: 125px;
      z-index: 7;
    }
  }
    h1 { padding:0.75em 0;}
    img {margin:0}



  }

}

//////////// responsive //////////////////

@media (max-width: 1300px) {

  .page_sommaire {
    #entete {
      header {
        height: 220px;

        div.accueil {
          padding-top: 60px;
          padding-left: 80px;
        }
      }

      img {
        max-width: 350px;
      }
    }

    .page_sommaire header {
      div.accueil {
        position: relative;
        padding-left: 80px;
      }
    }
  }


}


@media (max-width: 992px) {

  .page_sommaire {
    #entete {
      header {
        height: 170px;

        div.accueil {
          position: relative;
          padding-left: 60px;
          padding-top: 20px;
        }
      }

      img {
        max-width: 300px;
      }

      #nav {
        padding: 0;
        margin: 0;
      }
    }
  }
}




@media (max-width: 768px) {


  .page_sommaire {
    #entete{
      header{
        div.herbe{left:0;width:100%;}
        div.accueil{
          position: relative; padding-left: 50px;width:100%;
          img { max-width: 440px; width:90%; margin:0 5%; }
        }
      }
    }
  }

}

