$gris: #828282;
$noir: #000;

// Accent colors
// -------------------------
$blue:                  #049cdb;
$blueDark:              #0064cd;

$rouge:                   #9d261d;
$yellow:                #F1E284;
$orange:                #f89406;
$pink:                  #c3325f;
$purple:                #7a43b6;

$bleucielclair:#dee6e7;
$bleuciel:darken($bleucielclair, 6.5%);
$vertpomme: #629131;

// Links
$linkColor:             $vertpomme;
$green:                 darken($linkColor,5%);
$linkColorHover:        darken($linkColor, 13%);

$brand-primary:         darken(#428bca, 6.5%); // #337ab7
$brand-success:         $linkColor;
$brand-info:            #5bc0de;
$brand-warning:         #f0ad4e;
$brand-danger:          #d9534f;








$gris:                  #AAA095;
$gris-clair:            lighten($gris,15%);
$gris-clair2:            lighten($gris,25%);
$gris-fonce:            darken($gris,15%);
$gris-noir:            darken($gris,35%);

$white-trans : rgba(250, 250, 250, 0.97);
$white-trans80 : transparentize($gris, 0.3);

$white-trans : rgba(250, 250, 250, 0.97);

$white-trans80 : transparentize($gris, 0.3);